.total {
    top: 52%;
    left: 35%;
    text-align: center;
}

.riskTable {
    height: 156px;
    overflow: auto;
    padding: 0 20px;
    box-sizing: border-box;
    color: #ffffff;
    margin-bottom: 20px;
}

.riskTable table {
    margin-bottom: 0 !important;
}

.riskTable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /**/
}

.riskTable::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

.riskTable::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

.riskTable::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.riskTable::-webkit-scrollbar-corner {
    background: #179a16;
}

/* 电网运行风险 start */
.associate {
    position: absolute;
    left: 77%;
    top: 10px;
    width: 47px;
    text-align: center;
    color: #fff;
    line-height: 15px;
    padding: 2px 0;
    border: 2px solid #104D74;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.riskLevelTable {
    color: #fff;
    height: 243px;
}

#levelTable {
    margin: 20px 10px 10px 10px;
    height: 200px;
    overflow: auto;
}

#levelTable td {
    text-align: center;
    padding: 0;
}

.textTile {
    margin: 10px auto;
    text-align: center;
}

.viewMore {
    color: #00CCFF;
    padding-right: 10px;
    text-decoration: underline;
}

.serialCircle {
    text-align: center;
    line-height: 12px;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.alarms {
    margin-left: 10px;
    line-height: 30px;
}

.alarmName {
    margin-right: 40px;
    color: #3BAFFF;
    font-weight: 700;
    text-decoration: underline;
}

.alarmTime {
    margin-left: 40px;
}

.workSiteNum {
    margin-left: 40px;
    cursor: pointer;
}
/* 电网运行风险 end */