<div class="cube imageeditor"
	data-bind="style:{width: width(), height: height()}">
	<header class="header">
		<span class="title" data-bind="text:name">文件名称</span>
		<div class="cmenu">
			<a class="menu__button status"  data-bind="visible:status()!=''">
				<span class="fa" data-bind="text:status"></span> 
			</a>
			<button type="button" data-action="restore"
				class="menu__button" data-bind="attr:{title:cube.msg('RESTORE')},visible:cropped(),event:{click:restore}">
				<span class="fa icon-undo"></span>
			</button>
			<button type="button" data-action="remove"
				class="menu__button menu__button--danger" data-bind="attr:{title:cube.msg('DELETE')},visible:hasImage() && !cropping(), event:{click:remove}">
				<span class="fa icon-trash"></span>
			</button>
			<button type="button" data-action="clear"
				class="menu__button menu__button--danger" data-bind="attr:{title:cube.msg('CANCEL')},visible:cropping(),event:{click:clear}">
				<span class="fa icon-ban-circle"></span>
			</button>
			<button type="button" data-action="crop"
				class="menu__button menu__button--success" data-bind="attr:{title:cube.msg('CONFIRM')},visible:cropping(),event:{click:cropOk}">
				<span class="fa icon-ok"></span>
			</button>
			<button type="button" data-action="crop"
				class="menu__button menu__button--success" data-bind="attr:{title:cube.msg('UPLOAD')},visible:hasImage() && !uploaded(),event:{click:upload}">
				<span class="fa icon-upload-alt"></span>
			</button>
			<a data-action="download"
				class="menu__button menu__button--success" data-bind="attr:{title:cube.msg('DOWNLOAD')},visible:hasImage() && uploaded(),event:{click:download}">
				<span class="fa icon-download-alt"></span></a>
		</div>
	</header>
	<main class="main">
	<div class="upload" data-bind= "visible:!hasImage()">
		<!-- ko if: !isIE() -->
			<p data-bind= "event:{drop:drop,dragover:dragover}">
				<i data-bind="text:cube.msg('DRAGPICTURE')"></i><label class="browse"><i data-bind="text:cube.msg('BROWSE')"></i><input
					id="file" type="file" name="file" accept="image/*" class="sr-only" data-bind="event:{change:imageInputChange}"></label>
			</p>
		<!-- /ko -->
		<!-- ko if: isIE() -->
		<iframe id="myfrm" width=0 height=0 frameBorder=0 src="about:blank" name="myfrm"></iframe>
		<form data-bind='attr:{"id": id}' enctype='multipart/form-data' target='myfrm' method='post'>
			<div id="_fileSelectionHiddenArea" style="width:1px;height:1px;"></div>
			<div>
				<label class="browse"><i data-bind="text:cube.msg('BROWSE')"></i><input
					id="file" type="file" name="file" accept="image/*" class="sr-only" data-bind="event:{change:imageInputChange}"></label>
			</div>
		</form>
		<!-- /ko -->
	</div>
	<div class="canvas" data-bind="visible:hasImage()">
		<div class="editor">
			<!-- ko if: !isIE() || isServerImage()-->
			<img id="image" data-bind="attr:{src:imageUrl,alt:name},event:{load:imageLoad}">
			 <!-- /ko -->
			 <!-- ko if: isIE() -->
			<div id='_show_area'></div>
			 <!-- /ko -->
		</div>
		<div class="toolbar" data-bind="visible:showToolbar() && !isIE()">
			<button type="button" data-action="move" title="移动" class="toolbar__button" data-bind="click:move">
				<span class="fa icon-move"></span>
			</button>
			<button type="button" data-action="crop" title="裁剪 " class="toolbar__button" data-bind="click:crop">
				<span class="fa icon-retweet"></span>
			</button>
			<button type="button" data-action="zoom-in" title="缩小"
				class="toolbar__button" data-bind="click:zoomin">
				<span class="fa icon-zoom-in"></span>
			</button>
			<button type="button" data-action="zoom-out" title="放大"
				class="toolbar__button" data-bind="click:zoomout">
				<span class="fa icon-zoom-out"></span>
			</button>
			<button type="button" data-action="rotate-left" title="逆时针旋转 "
				class="toolbar__button" data-bind="click:rolateleft">
				<span class="fa icon-undo"></span>
			</button>
			<button type="button" data-action="rotate-right" title="顺时针旋转 "
				class="toolbar__button" data-bind="click:rolateright">
				<span class="fa  icon-repeat"></span>
			</button>
			<button type="button" data-action="flip-horizontal" title="水平翻转"
				class="toolbar__button" data-bind="click:horizontal">
				<span class="fa icon-resize-horizontal"></span>
			</button>
			<button type="button" data-action="flip-vertical" title="垂直翻转 "
				class="toolbar__button" data-bind="click:vertical">
				<span class="fa icon-resize-vertical"></span>
			</button>
		</div>
	</div>
	</main>
</div>