<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.AppTApplyCanteenMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.canteen.entity.AppTApplyCanteen">
        <id column="id2" property="id"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="orgId" property="orgId"/>
        <result column="orgName" property="orgName"/>
        <result column="deptId" property="deptId"/>
        <result column="deptName" property="deptName"/>
        <result column="apply_org_id" property="applyOrgId"/>
        <result column="applyOrgName" property="applyOrgName"/>
        <result column="reception_person_id" property="receptionPersonId"/>
        <result column="receptionPersonName" property="receptionPersonName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="remark" property="remark"/>
        <result column="c_time" property="cTime"/>
        <result column="staus" property="staus"/>
		<result column="userPhone" property="userPhone"/>
		<association property="appTFlowdetail" column="ID" javaType="com.canteen.entity.AppTFlowdetail">
			 <id column="ID" property="id" />
			<result column="FlowNo" property="flowNo" />
			<result column="AuditUserID" property="auditUserID" />
			<result column="AuditUserName" property="auditUserName" />
			<result column="AuditRemark" property="auditRemark" />
			<result column="AuditTime" property="auditTime" />
			<result column="AuditStatus" property="auditStatus" />
			<result column="reason" property="reason" />
			<result column="flowstatus" property="flowstatus" />
	   </association>
    </resultMap>


    <update id="approvelRemoteDining">
        UPDATE app_t_flowdetail SET AuditStatus= #{status}, AuditTime=#{now}
        <if test="remark!=null">
            ,AuditRemark= #{remark}
        </if>
		<if test="remark!=null">
			,reason= #{reason}
		</if>
         WHERE ID=#{flowId} AND AuditUserID=#{userId}
    </update>

    <select id="createRepairId"  resultType="java.util.Map">
     select nextval('seq_test') as SN
    </select>


	<insert id="saveAppTApplyCanteen" >
 		INSERT into
		app_t_apply_canteen (id,user_id,user_name,user_phone,org_id,org_name,dept_id,dept_name,apply_org_id,apply_org_name,reception_person_id,
		reception_person_name,reception_person_phone,start_time,end_time,remark,c_time,staus,apply_restaurant_id,apply_restaurant_name)
		values (#{id},#{userId},#{userName},#{userPhone},#{orgId},#{orgName},#{deptId},#{deptName},#{applyOrgId},#{applyOrgName},#{receptionPersonId},
		#{receptionPersonName},#{receptionPersonPhone},#{startTime},#{endTime},#{remark},#{cTime},#{staus},#{applyRestaurantId},#{applyRestaurantName})
	</insert>

    <select id="getApprovelPerson" resultType="java.util.Map">
         SELECT U.ACCOUNT USER_ID,U.NAME USER_NAME,D.ID DEPT_ID,D.NAME DEPT_NAME,D.FULL_NAME PAR_DEPT,D.FULL_ID PAR_DEPT_ID
			FROM user U LEFT JOIN department D ON U.DEPARTMENT_ID=D.ID WHERE roleid like '%yd_admin%'
 			and PAR_DEPT_ID = (SELECT PAR_DEPT_ID FROM user where ACCOUNT= #{userId})
    </select>

	<select id="selectById" resultType="AppTApplyCanteen">
			SELECT * FROM app_t_apply_canteen WHERE id = #{id}
    </select>


    <select id="getRemoteDiningList" resultType="java.util.Map">
		SELECT
		a.id,
		a.user_name,
		DATE_FORMAT( a.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
		a.reception_person_name,
		a.apply_org_name,
		a.staus,
		a.org_id,
		a.org_name,
		c.department_id DEPT_ID,
		D.NAME DEPT_NAME,
		DATE_FORMAT( a.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
		DATE_FORMAT( a.end_time, '%Y-%m-%d %H:%i:%s' ) end_time,
		b.Title,
		b.ApproStatus
		FROM
		app_t_apply_canteen a
		LEFT JOIN app_t_flow b ON a.id = b.FlowNo
		LEFT JOIN USER c ON a.user_id = c.ACCOUNT
		LEFT JOIN department d ON c.department_id = d.id
		WHERE
		a.user_id = #{remoteDiningListVO.userId} AND b.ApproStatus=
		#{remoteDiningListVO.status}
        <if test="remoteDiningListVO.flowId!=null">
            AND a.id = #{remoteDiningListVO.flowId}
        </if>
		order by a.c_time desc
    </select>

	<select id="getRemoteDiningCount" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		app_t_apply_canteen a
		LEFT JOIN app_t_flow b ON a.id = b.FlowNo
		LEFT JOIN USER c ON a.user_id = c.ACCOUNT
		LEFT JOIN department d ON c.department_id = d.id
		WHERE
		a.user_id = #{remoteDiningListVO.userId} AND b.ApproStatus=
		#{remoteDiningListVO.status}
		<if test="remoteDiningListVO.flowId!=null">
			AND a.id = #{remoteDiningListVO.flowId}
		</if>
		order by a.c_time desc
	</select>



<!--	<select id="getRemoteDiningApprovelList" resultType="java.util.Map">-->
<!--  SELECT-->
<!--	c.flowstatus,-->
<!--	c.ID,-->
<!--	c.FlowNo,-->
<!--	c.AuditUserID,-->
<!--	c.AuditUserName,-->
<!--	c.AuditStatus,-->
<!--	b.id AS id2,-->
<!--	b.user_name,-->
<!--	b.user_id,-->
<!--	b.org_id,-->
<!--	b.org_name,-->
<!--	b.dept_id,-->
<!--	b.dept_name,-->
<!--	b.staus,-->
<!--	DATE_FORMAT( b.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,-->
<!--	b.reception_person_name,-->
<!--	b.apply_org_name,-->
<!--	DATE_FORMAT( b.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,-->
<!--	DATE_FORMAT( b.end_time, '%Y-%m-%d %H:%i:%s' ) end_time-->
<!--FROM-->
<!--	(-->
<!--	SELECT-->
<!--		a.flowstatus,-->
<!--		a.ID,-->
<!--		a.FlowNo,-->
<!--		a.AuditUserID,-->
<!--		a.AuditUserName,-->
<!--		a.AuditStatus-->
<!--	FROM-->
<!--		app_t_flowdetail a-->
<!--	WHERE-->
<!--		a.AuditUserID = #{remoteDiningListVO.userId}-->
<!--		AND a.AuditStatus =  #{remoteDiningListVO.status}-->
<!--	AND concat( a.flowstatus, a.FlowNo ) IN ( SELECT concat( staus, id ) FROM app_t_apply_canteen )) c-->
<!--	LEFT JOIN app_t_apply_canteen b ON c.FlowNo = b.id-->
<!--	ORDER BY c_time desc-->
<!--    </select>-->




    <select id="getCompanyList" resultType="java.util.Map">
        SELECT ID ORGID,NAME ORGNAME,PARENT_ID PID  FROM department WHERE PARENT_ID='101'
    </select>


	<!--SELECT id,name,org_id,org_name FROM app_t_restaurant WHERE org_id=#{org_id}-->
	<select id="getRestaurantList" resultType="java.util.Map" parameterType="java.util.HashMap">
        SELECT id id,RestaurantName name,parent_ids org_id,'' org_name FROM st_operationrestaurant WHERE parent_ids=#{org_id}
    </select>


    <select id="getNextDeptInfo" resultType="java.util.Map">
        SELECT DISTINCT A.ORGID,A.ORGNAME,A.REMARK,A.PID,IF(B.ORGID IS NULL,0,1) HASCHILD FROM t_org A LEFT JOIN
        (SELECT ORGID,ORGNAME,REMARK,PID,DEL_FLAG FROM t_org WHERE DEL_FLAG='0') B ON A.ORGID=B.PID
        WHERE A.PID =#{deptId} AND A.DEL_FLAG='0'
    </select>


    <select id="getPersonList" resultType="java.util.Map">
        SELECT USER_ID,LOGIN_CODE,USER_NAME,DEPT_ID,DEPT_NAME,PAR_DEPT,PAR_DEPT_ID,PHONE,OFFICE_TEL,EMAIL,SEX FROM t_user WHERE DEPT_ID= #{deptId}
    </select>

    <select id="getRemoteDiningDetail" resultType="java.util.Map">
    SELECT 	a.id,
	a.user_id,
	a.user_name,
	a.user_phone,
	a.org_id,
	a.org_name,
	a.dept_id,
	a.dept_name,
	a.apply_org_name,
	a.reception_person_id,
	a.reception_person_name,
	a.reception_person_phone,
	a.apply_restaurant_id,
	a.apply_restaurant_name,
	DATE_FORMAT(a.start_time,'%Y-%m-%d %H:%i:%s') start_time,
	DATE_FORMAT(a.end_time,'%Y-%m-%d %H:%i:%s') end_time,
	DATE_FORMAT( a.c_time, '%Y-%m-%d %H:%i:%s' ) c_time ,
	a.remark,
	a.staus,
	b.Title,
	b.BusType,
	b.ApproStatus,
	c.ID flowdetailid
         FROM app_t_apply_canteen a LEFT JOIN app_t_flow b ON a.id = b.FlowNo
				 LEFT JOIN app_t_flowdetail c ON concat(a.staus,a.id) =concat(c.flowstatus,c.FlowNo)
         where a.id=#{flowId} 	ORDER BY c_time
    </select>

    <select id="getFlowDetail" resultType="java.util.Map">
        SELECT a.ID,a.FlowNo,a.AuditUserID,a.AuditUserName,a.reason,b.DEPARTMENT_ID DEPT_ID,d.NAME DEPT_NAME,SUBSTR(d.FULL_NAME,18) PAR_DEPT, DATE_FORMAT( a.AuditTime, '%Y-%m-%d %H:%i:%s' ) AuditTime,a.AuditStatus,a.flowstatus
        FROM app_t_flowdetail a LEFT JOIN user b on a.AuditUserID= b.ACCOUNT
		LEFT JOIN department d ON b.DEPARTMENT_ID=d.ID
        where a.FlowNo =#{flowId} order by flowstatus

    </select>



    <select id="getRemoteDiningApprovelTGList" resultMap="BaseResultMap">
		SELECT
			c.flowstatus,
			c.ID,
			c.FlowNo,
			c.AuditUserID,
			c.AuditUserName,
			c.AuditStatus,
			b.id AS id2,
			b.user_name as userName,
			b.user_id as userId,
			b.org_id as orgId,
			b.org_name as orgName,
			b.dept_id as deptId,
			b.dept_name as deptName,
			b.staus as staus,
			b.remark as remark,
			b.user_phone as userPhone,
			DATE_FORMAT( b.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
			b.reception_person_name as receptionPersonName,
			b.apply_org_name as applyOrgName,
			DATE_FORMAT( b.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
			DATE_FORMAT( b.end_time, '%Y-%m-%d %H:%i:%s' ) end_time
		FROM
			(
			SELECT
				a.flowstatus,
				a.ID,
				a.FlowNo,
				a.AuditUserID,
				a.AuditUserName,
				a.AuditStatus
			FROM
				app_t_flowdetail a
			WHERE
				a.AuditUserID = #{remoteDiningListVO.userId}
				AND a.AuditStatus =  #{remoteDiningListVO.status}
			) c
			LEFT JOIN app_t_apply_canteen b ON c.FlowNo = b.id 	ORDER BY c_time desc
			LIMIT #{remoteDiningListVO.pageIndex},#{remoteDiningListVO.pageSize}
    </select>



	<select id="getRemoteDiningApprovelTGAccount" resultType="integer">
    SELECT
	COUNT(*)
	FROM
		(
		SELECT
			a.flowstatus,
			a.ID,
			a.FlowNo,
			a.AuditUserID,
			a.AuditUserName,
			a.AuditStatus
		FROM
			app_t_flowdetail a
		WHERE
			a.AuditUserID = #{remoteDiningListVO.userId}
			AND a.AuditStatus =  #{remoteDiningListVO.status}
		) c
		LEFT JOIN app_t_apply_canteen b ON c.FlowNo = b.id 	ORDER BY c_time desc
    </select>




	<update id="updateStatus" parameterType="java.lang.String">
		update app_t_apply_canteen set staus=#{staus} where id =#{id}
	</update>



    <select id="getApplyResList" resultType="java.util.Map">
		select  id,name,org_id,org_name from app_t_restaurant
	</select>

	<select id="getAllInfo" parameterType="java.util.Map"  resultType="java.util.Map" >
		SELECT tt.* FROM (
        <if test='status != null and status != "" and status != "1" '>
		(SELECT  a.`id` AS id2,
		a.`user_id`,
		a.`user_name`,
		a.org_id,
		a.org_name,
		a.dept_id,
		a.`dept_name` ,
		a.staus,
		DATE_FORMAT( a.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
		DATE_FORMAT( a.end_time, '%Y-%m-%d %H:%i:%s' ) end_time,
		DATE_FORMAT( a.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
		a.reception_person_name,
		a.apply_org_name,
		c.flowstatus,
		c.`id`,
		c.FlowNo,
		c.AuditUserID,
		c.AuditUserName,
		c.AuditStatus,
		c.reason,
		d.ApproStatus
		FROM app_t_apply_canteen a
		INNER JOIN app_t_flow d ON a.id = d.flowno
		INNER JOIN (
			SELECT
				a.flowstatus,
				a.ID,
				a.FlowNo,
				a.AuditUserID,
				a.AuditUserName,
				a.AuditStatus,
				a.reason
			FROM
				app_t_flowdetail a
			WHERE
				1=1
			) c  ON a.id = c.flowno
		  WHERE 1=1
            and a.user_id = #{userId}
            <!--and d.ApproStatus = #{status} 当前为申请人用户，查询自己申请的信息，不需要审核状态限制-->
           <!-- 搜索框不为空，则输入为申请人的名字 -->
          <if test='keyWord != null and keyWord != ""'>
		    and  a.user_name like #{keyWord}
		  </if>
		)
        </if>
        <if test='status != null and status != "" and status == "3" '>
		UNION
        </if>
        <if test='status != null and status != "" and status != "2" '>
		(SELECT
			b.id AS id2,
            b.user_id,
            b.user_name,
            b.org_id,
            b.org_name,
            b.dept_id,
            b.dept_name,
            b.staus,
            DATE_FORMAT( b.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
            DATE_FORMAT( b.end_time, '%Y-%m-%d %H:%i:%s' ) end_time,
            DATE_FORMAT( b.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
            b.reception_person_name,
            b.apply_org_name,
            c.flowstatus,
            c.ID,
            c.FlowNo,
            c.AuditUserID,
            c.AuditUserName,
            c.AuditStatus,
            c.reason,
            d.ApproStatus
		FROM
		(
		SELECT
			a.flowstatus,
			a.ID,
			a.FlowNo,
			a.AuditUserID,
			a.AuditUserName,
			a.AuditStatus,
			a.reason
		FROM
			app_t_flowdetail a

		) c
		INNER JOIN app_t_apply_canteen b ON c.FlowNo = b.id
		INNER JOIN app_t_flow d ON b.id = d.flowno
        WHERE
            c.AuditUserID = #{userId}
            <!-- 待审核，流程未走完 -->
            <if test='status == "1"'>
                and d.ApproStatus = #{status}
            </if>
            <!-- 审核流程完成的 -->
            <if test='status == "3"'>
                and  d.ApproStatus in ('2','3')
            </if>
            <if test='keyWord != null and keyWord != ""'>
                and  b.user_name like #{keyWord}
            </if>
          )
        </if>
		)tt
        ORDER BY      c_time,flowNo,flowstatus DESC
        limit #{index},#{pageSize}
	</select>

	<select id="getAllInfoCount" parameterType="java.util.Map"  resultType="java.lang.Integer" >
		SELECT COUNT(*) FROM (
		<if test='status != null and status != "" and status != "1" '>
			(SELECT  a.`id` AS id2,
			a.`user_id`,
			a.`user_name`,
			a.org_id,
			a.org_name,
			a.dept_id,
			a.`dept_name` ,
			a.staus,
			DATE_FORMAT( a.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
			DATE_FORMAT( a.end_time, '%Y-%m-%d %H:%i:%s' ) end_time,
			DATE_FORMAT( a.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
			a.reception_person_name,
			a.apply_org_name,
			c.flowstatus,
			c.`id`,
			c.FlowNo,
			c.AuditUserID,
			c.AuditUserName,
			c.AuditStatus,
			c.reason,
			d.ApproStatus
			FROM app_t_apply_canteen a
			INNER JOIN app_t_flow d ON a.id = d.flowno
			INNER JOIN (
			SELECT
			a.flowstatus,
			a.ID,
			a.FlowNo,
			a.AuditUserID,
			a.AuditUserName,
			a.AuditStatus,
			a.reason
			FROM
			app_t_flowdetail a
			WHERE
			1=1
			) c  ON a.id = c.flowno
			WHERE 1=1
			and a.user_id = #{userId}
			<!--and d.ApproStatus = #{status} 当前为申请人用户，查询自己申请的信息，不需要审核状态限制-->
			<!-- 搜索框不为空，则输入为申请人的名字 -->
			<if test='keyWord != null and keyWord != ""'>
				and  a.user_name like #{keyWord}
			</if>
			)
		</if>
		<if test='status != null and status != "" and status == "3" '>
			UNION
		</if>
		<if test='status != null and status != "" and status != "2" '>
			(SELECT
			b.id AS id2,
			b.user_id,
			b.user_name,
			b.org_id,
			b.org_name,
			b.dept_id,
			b.dept_name,
			b.staus,
			DATE_FORMAT( b.start_time, '%Y-%m-%d %H:%i:%s' ) start_time,
			DATE_FORMAT( b.end_time, '%Y-%m-%d %H:%i:%s' ) end_time,
			DATE_FORMAT( b.c_time, '%Y-%m-%d %H:%i:%s' ) c_time,
			b.reception_person_name,
			b.apply_org_name,
			c.flowstatus,
			c.ID,
			c.FlowNo,
			c.AuditUserID,
			c.AuditUserName,
			c.AuditStatus,
			c.reason,
			d.ApproStatus
			FROM
			(
			SELECT
			a.flowstatus,
			a.ID,
			a.FlowNo,
			a.AuditUserID,
			a.AuditUserName,
			a.AuditStatus,
			a.reason
			FROM
			app_t_flowdetail a

			) c
			INNER JOIN app_t_apply_canteen b ON c.FlowNo = b.id
			INNER JOIN app_t_flow d ON b.id = d.flowno
			WHERE
			c.AuditUserID = #{userId}
			<!-- 待审核，流程未走完 -->
			<if test='status == "1"'>
				and d.ApproStatus = #{status}
			</if>
			<!-- 审核流程完成的 -->
			<if test='status == "3"'>
				and  d.ApproStatus in ('2','3')
			</if>
			<if test='keyWord != null and keyWord != ""'>
				and  b.user_name like #{keyWord}
			</if>
			)
		</if>
		)tt
		ORDER BY      c_time,flowNo,flowstatus DESC
		limit #{index},#{pageSize}
	</select>
</mapper>
