<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StCategorydishesMapper">
    <resultMap id="StCategorydishesResultMap" type="com.canteen.entity.StCategorydishes">
        <id column="id"  property="id" />
        <result property="parentIds" column="parent_ids"/>
        <result property="varietiesName" column="varietiesname"/>
        <result property="varietiesCode" column="varietiescode"/>
        <result property="remarks" column="remarks"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="level" column="level"/>
        <result property="affiliatedrestaurant" column="affiliatedrestaurant"/>
        <result property="parentName" column="parentName"/>
    </resultMap>
    <sql id="sql_where">

        <if test="varietiesName != null and varietiesName != ''">
            and (  st.varietiesname like CONCAT('%',#{varietiesName},'%')
            or st.varietiescode like CONCAT('%',#{varietiesCode},'%') )
        </if>
 <!--       <if test="varietiesCode != null and varietiesCode != ''">

        </if>-->

    </sql>

    <select id="getStCategorydishesList"  resultMap="StCategorydishesResultMap">
        SELECT
        st.id,
        st.parent_ids,
        st.varietiesname,
        st.varietiescode,
        st.remarks,
        st.sort,
        st.create_by,
        st.update_by,
        st.create_date,
        st.update_time,
        st.level,
        st.del_flag,
        st.affiliatedrestaurant,
        st2.varietiesname as parentName
        FROM
        st_categorydishes st  left join  st_categorydishes st2 on st.parent_ids =st2.id  where st.del_flag !=1
        <include refid="sql_where"/>
        LIMIT #{start},#{size}
    </select>

    <select id="getStCategorydishesList2"  resultMap="StCategorydishesResultMap">
        SELECT
        st.id,
        st.parent_ids,
        st.varietiesname,
        st.varietiescode,
        st.remarks,
        st.sort,
        st.create_by,
        st.update_by,
        st.create_date,
        st.update_time,
        st.level,
        st.del_flag ,
        st.affiliatedrestaurant,
        st2.varietiesname as parentName
        FROM
        st_categorydishes st left join  st_categorydishes st2 on st.parent_ids =st2.id  where  st.del_flag !=1
        <include refid="sql_where"/>
        <if test="idsStr != null and idsStr != ''">
            AND FIND_IN_SET(st.id ,#{idsStr})
        </if>
        LIMIT #{start},#{size}
    </select>


    <select id="getStCategorydishesCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM st_categorydishes st where 1=1 and del_flag !=1
        <include refid="sql_where"/>
    </select>

    <select id="getStCategorydishesCount2" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM st_categorydishes st where 1=1 and del_flag !=1
        <include refid="sql_where"/>
        <if test="idsStr != null and idsStr != ''">
            AND FIND_IN_SET(st.id ,#{idsStr})
        </if>

    </select>

    <insert id="saveStCategorydishesFist" parameterType="StCategorydishes">
        INSERT INTO `st_categorydishes`(parent_ids,varietiesname,varietiescode,remarks,sort,create_by,create_date,update_by,update_time,del_flag,level)
			VALUES(#{parentIds},#{varietiesName},#{varietiesCode},#{remarks},#{sort},
			#{createBy},#{createDate},#{updateBy},#{updateTime},#{delFlag},#{level});
    </insert>

    <update id="updateStCategorydishesFist" parameterType="StCategorydishes">
        UPDATE `st_categorydishes`
        <set>
            <if test="parentIds!=null and parentIds!=''">parent_ids=#{parentIds},</if>
            <if test="varietiesName!=null and varietiesName!=''">varietiesname=#{varietiesName},</if>
            <if test="varietiesCode!=null and varietiesCode!=''">varietiescode=#{varietiesCode},</if>
            <if test="remarks!=null and remarks!=''">remarks=#{remarks},</if>
            <if test="sort!=null and sort!=''">sort=#{sort},</if>
            <if test="createBy!=null and createBy!=''">create_by=#{createBy},</if>
            <if test="createDate!=null and createDate!=''">create_date=#{createDate},</if>
            <if test="updateBy!=null and updateBy!=''">update_by=#{updateBy},</if>
            update_time=now(),
            <if test="delFlag!=null and delFlag!=''">del_flag=#{delFlag},</if>
            <if test="level!=null and level!=''">level=#{level}</if>
        </set>
        WHERE id=#{id};
    </update>
</mapper>