<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StFlowdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.canteen.entity.AppTFlowdetail">
        <id column="ID" property="id" />
        <result column="FlowNo" property="FlowNo" />
        <result column="AuditUserID" property="AuditUserID" />
        <result column="AuditUserName" property="AuditUserName" />
        <result column="AuditRemark" property="AuditRemark" />
        <result column="AuditTime" property="AuditTime" />
        <result column="AuditStatus" property="AuditStatus" />
        <result column="reason" property="reason" />
    </resultMap>

    <insert id="saveBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            insert  into app_t_flowdetail(ID,FlowNo,AuditUserID,AuditUserName,AuditRemark,AuditTime,AuditStatus,reason)
            values (#{id},#{FlowNo},#{AuditUserID},#{AuditUserName},#{AuditRemark},#{AuditTime},#{AuditStatus},#{reason})
        </foreach>
    </insert>
    <insert id="insert" parameterType="com.canteen.entity.StFlowdetail">
         insert  into app_t_flowdetail(ID,FlowNo,AuditUserID,AuditUserName,AuditRemark,AuditTime,AuditStatus,reason)
            values (#{id},#{FlowNo},#{AuditUserID},#{AuditUserName},#{AuditRemark},#{AuditTime},#{AuditStatus},#{reason})
    </insert>

</mapper>
