<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StFoodtraceabilityMapper">
    <resultMap id="getListMap" type="java.util.LinkedHashMap">
        <result property="dishName" column="dishName"/>
        <result property="category" column="category"/>
        <result property="supplyPeriod" column="supplyperiod"/>
        <result property="diningStaff" column="diningstaff"/>
        <result property="ingredient" column="ingredient"/>
    </resultMap>

    <!--查询菜品溯源列表-->
    <select id="getList" resultMap="getListMap">
        SELECT
            b.dishName,
            c.RestaurantName category,
            a.supplyperiod,
            a.diningstaff,
            b.ingredient
        FROM
            ( SELECT * FROM st_foodtraceability ) a
            LEFT JOIN ( SELECT * FROM st_food_management ) b ON a.foodingredients = b.dishcode
            LEFT JOIN ( SELECT * FROM st_operationrestaurant ) c ON a.category = c.RestaurantCode
        WHERE
            <if test="dishName != null and dishName != ''">
                <bind name="DishName" value="'%'+dishName+'%'"/>
                b.dishName LIKE #{DishName} AND
            </if>
            <if test="personName != null and personName != ''">
                <bind name="PersonName" value="'%'+personName+'%'"/>
                a.diningstaff LIKE #{PersonName} AND
            </if>
            1 = 1
            limit #{index},#{pageSize}
    </select>

    <!--查询菜品溯源列表数量-->
    <select id="getListCnt" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            ( SELECT * FROM st_foodtraceability ) a
            LEFT JOIN ( SELECT * FROM st_food_management ) b ON a.foodingredients = b.dishcode
        WHERE
            <if test="dishName != null and dishName != ''">
                <bind name="DishName" value="'%'+dishName+'%'"/>
                b.dishName LIKE #{DishName} AND
            </if>
            <if test="personName != null and personName != ''">
                <bind name="PersonName" value="'%'+personName+'%'"/>
                a.diningstaff LIKE #{PersonName} AND
            </if>
            1 = 1
    </select>
</mapper>