<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StGoodcommodityMapper">
    <resultMap id="getStGoodcommodityPageMap" type="com.canteen.entity.StGoodcommodity">
    <id column="id"  property="id" />
    <result property="parentId" column="parent_id"/>
    <result property="parentIds" column="parent_ids"/>
    <result property="no" column="no"/>
    <result property="branchName" column="branchname"/>
    <result property="name" column="name"/>
    <result property="weight" column="weight"/>
    <result property="introduction" column="introduction"/>
    <result property="price" column="price"/>
    <result property="number" column="number"/>
    <result property="company" column="company"/>
    <result property="restaurant" column="restaurant"/>
    <result property="isshelf" column="isshelf"/>
    <result property="picture" column="picture"/>
    </resultMap>

    <sql id="sql_where">
        <if test="branchName != null and branchName != ''">
            AND st.branchname like CONCAT('%',#{branchName},'%')
        </if>

        <if test="name != null and name != ''">
            <bind name="Name" value="'%' + name + '%'"/>
            and  st.name like #{Name}
        </if>
        <if test="restaurant != null and restaurant != ''">
            and op.id in (${restaurant})
        </if>
        <if test="typeid != '0'.toString()">
            and st.parent_ids in (${typeid})
        </if>
        <if test="price != null and price != ''">
            and st.price in (#{price})
        </if>
        <if test="shelfLife != null and shelfLife != ''">
            and st.shelf_life = (#{shelfLife})
        </if>

        <if test="inventory != null and inventory != ''">
            and st.inventory = (#{inventory})
        </if>
    </sql>


    <sql id="sql_smwhere">
        <if test="name != null and name != ''">
            AND name like CONCAT('%',#{name},'%')
        </if>

        <if test="branchName != null and branchName != ''">
            AND branchname like CONCAT('%',#{branchName},'%')
        </if>

        <if test="price != null and price != ''">
            AND price in (#{price})
        </if>
        <if test="shelfLife != null and shelfLife != ''">
            AND shelf_life = (#{shelfLife})
        </if>
        <if test="inventory != null and inventory != ''">
            AND inventory = (#{inventory})
        </if>
    </sql>



    <select id="getStGoodcommodityPage" resultMap="getStGoodcommodityPageMap">
                SELECT
                st.id,
                st.parent_ids,
                st.no,
                st.branchname,
                st.name,
                st.weight,
                st.introduction,
                st.productiondate,
                st.inventory,
                st.productiondate,
                st.price,
                st.shelf_life,
                st.manufacturer,
                st.license_number,
                st.product_number,
                st.inventory,
                st.number,
                st.company,
                st.shop,
                st.restaurant,
                st.picture,
                ck.goods,
                ck.dis_id,
                ck.totol_stock,
                ck.online_stock,
                ck.lock_stock,
                ck.history_stock,
                ck.ava_stock,
                ck.insert_date,
                op.RestaurantName
                FROM
                st_goodcommodity st
                LEFT JOIN
                st_mydishstock ck
                ON st.no= ck.goods
                LEFT JOIN st_operationrestaurant op
                ON op.RestaurantCode = st.restaurant
                WHERE (st.del_flag = '0' or st.del_flag is null)
                        and st.isshelf ='0'
                        and level=3
               <include refid="sql_where"/>
                limit #{start},#{pageSize}
    </select>


    <select id="getGoodcommodityPageCount"  resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        st_goodcommodity st
        LEFT JOIN
        st_mydishstock ck
        ON st.no= ck.goods
        LEFT JOIN st_operationrestaurant op
        ON op.RestaurantCode = st.restaurant
        WHERE (st.del_flag = '0' or st.del_flag is null)
        and st.isshelf ='0'
        and level=3
        <include refid="sql_where"/>
    </select>



    <insert id="saveGood" parameterType="com.canteen.entity.StGoodcommodity">
            INSERT INTO st_goodcommodity(
                        parent_ids,
                        `name`,
                        introduction,
                        price,
                        goodsnumber,
                        productiondate,
                        ingredients,
                        address,
                         placeorigin,
                         shelf_life,
                        license_number,
                        manufacturer,
                        product_number,
                        picture
                        )
                    VALUES
                        (
                        #{parentIds},
                        #{name},
                        #{introduction},
                        #{price},
                        #{goodsNumber},
                        #{productionDate},
                        #{ingredients},
                        #{address},
                        #{placeorigin},
                        #{shelfLife},
                        #{licenseNumber},
                        #{manufacturer},
                        #{productNumber},
                        #{picture}
                        )
    </insert>




    <select id="findGoodListPage" resultMap="getStGoodcommodityPageMap">
        SELECT
            id,
            parent_id,
            parent_ids,
            no,
            branchname,
            name,
            weight,
            introduction,
            price,
            number,
            company,
            shop,
            restaurant,
            isshelf,
            picture,
            pictures,
            del_flag,
            level,
            is_oversize,
            sale_num,
            shelf_life,
            storage_condition,
            goodsnumber,
            productiondate,
            ingredients,
            address,
            placeorigin,
            license_number,
            manufacturer,
            product_number,
            inventory,
            warehousingtime
			FROM
			st_goodcommodity WHERE `level` > 3
			<include refid="sql_smwhere"/>
            limit #{start},#{pageSize}
    </select>

    <select id="findgoodCount"  resultType="java.lang.Integer">
            SELECT
        	COUNT(*)
			FROM
			st_goodcommodity
            WHERE `level` > 3
        <include refid="sql_smwhere"/>
    </select>





    <update id="updateWarehousing"  parameterType="com.canteen.entity.StGoodcommodity">
        UPDATE `st_categorydishes`
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="branchName!=null and branchName!=''">branchname=#{branchName},</if>
            <if test="price!=null and price!=''">price=#{price},</if>
            <if test="weight!=null and weight!=''">weight=#{weight},</if>
            <if test="inventory!=null and inventory!=''">inventory=#{inventory},</if>
            <if test="warehousingTime!=null and warehousingTime!=''">warehousingtime=#{warehousingTime},</if>
            <if test="isWarehousing!=null and isWarehousing!=''">isWarehousing=#{isWarehousing},</if>
            <if test="isshelf!=null and isshelf!=''">isshelf=#{isshelf},</if>
        </set>
        WHERE id=#{id};
    </update>

</mapper>
