<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StIntelligenceMealMapper">
    <resultMap id="RestaurantResultMap" type="java.util.Map">
        <id column="id"  property="id" />
        <result property="name" column="name"/>
        <result property="category" column="category"/>
        <result property="referenceprice" column="referenceprice"/>
        <result property="weight" column="weight"/>
        <result property="energy" column="energy"/>
        <result property="remarks" column="remarks"/>
        <result property="restaurant" column="restaurant"/>
    </resultMap>

    <resultMap id="choiceResultMap" type="com.canteen.entity.StIntelligenceMealsVo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="meals" column="meals"/>
        <result property="dishescategory" column="dishescategory"/>
    </resultMap>

    <resultMap id="selectResultMap" type="java.util.Map">
        <result property="name" column="name"/>
        <result property="id" column="id"/>
    </resultMap>

    <!--    手动添加-菜品查询-->
    <select id="SelectMyFood" resultType="java.util.Map">
       SELECT
      s.id, s.name,s.category,s.referenceprice,s.weight,s.energy,s.remarks
     FROM
     st_mydishes s
     LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
     on b.parakey = s.meals
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'dishescategory') k
        on k.parakey = s.dishescategory
     <where>
         <if test="meals != null">
             AND s.meals = #{meals}
         </if>
         <if test="restaurant != null">
             AND s.restaurant = #{restaurant}
         </if>
         <if test="dishescategory != null">
             AND s.dishescategory = #{dishescategory}
         </if>
         <if test="name != null">
             AND s.name like "%"#{name}"%"
         </if>
     </where>
    </select>

    <!--删除菜品-->
    <delete id="DeleteMyFoodByID">
       delete from st_intelligencemeals
       where id = #{id}
    </delete>

<!--    清空排餐表-->
    <delete id="deleteIntelligence">
        delete from st_intelligencemeals
    </delete>

    <!--    清空排餐表-->
    <delete id="deleteIntelligenceByMeals">
        delete from st_intelligencemeals
        where id = #{id}
    </delete>

<!--    查id-->
    <select id="queryIds" resultType="java.lang.Integer">
       SELECT a.id FROM st_intelligencemeals a LEFT JOIN st_mydishes b ON a.varietydishes = b.id
WHERE b.restaurant = #{restaurant} AND meals = #{meals} AND a.timestamp = #{date}
    </select>
<!--    一键排餐-->
    <select id="SelectMyFoodByRestaurant" resultType="java.util.Map">
        SELECT s.id
        FROM
        st_mydishes s
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
        on b.parakey = s.meals
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'dishescategory') c
        on c.parakey = s.dishescategory
       where s.restaurant = #{restaurant} and s.meals = #{meals}
       and s.dishescategory = #{dishescategory} order by RAND() LIMIT 5
    </select>

<!--一键重排-->
    <select id="SelectMyFoodByRepeat" resultMap="choiceResultMap">
        SELECT s.name,s.meals,s.dishescategory,s.id
        FROM
        st_mydishes s
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
        on b.parakey = s.meals
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'dishescategory') c
        on c.parakey = s.dishescategory
        <where>
            <if test="restaurant != null">
                AND s.restaurant = #{restaurant}
            </if>
            <if test="meals != null">
                AND s.meals = #{meals}
            </if>
        </where>
    </select>

    <!--为排餐的菜品加上时间撮 -->
   <insert id="insertDate">
       insert st_intelligencemeals (varietydishes,timestamp)
       values (#{id},#{date})
   </insert>

<!--    根据菜品id查询时间戳是否相同-->
    <select id="selectByDate" resultType="java.lang.String">
        select id from st_intelligencemeals
        where varietydishes = #{id}
        and timestamp = #{date}
    </select>

<!--一键导出排餐列表，根据餐厅，时间，以及餐别分别查出早中晚的排餐数据-->
    <select id="SelectMyBreakFoodByDate" resultMap="choiceResultMap">
        SELECT
        s.name,s.meals,s.dishescategory,s.id
        FROM
        st_mydishes s
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
        on b.parakey = s.meals
        LEFT JOIN st_intelligencemeals c
        on s.id = c.varietydishes
        <where>
            <if test="restaurant != null">
                AND s.restaurant = #{restaurant}
            </if>
            <if test="date != null">
                AND c.timestamp = #{date}
            </if>
            AND s.meals = 1
        </where>
    </select>

    <select id="SelectMyLunchFoodByDate" resultMap="choiceResultMap">
        SELECT
        s.name,s.meals,s.dishescategory,s.id
        FROM
        st_mydishes s
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
        on b.parakey = s.meals
        LEFT JOIN st_intelligencemeals c
        on s.id = c.varietydishes
        <where>
            <if test="restaurant != null">
                AND s.restaurant = #{restaurant}
            </if>
            <if test="date != null">
                AND c.timestamp = #{date}
            </if>
            AND s.meals = 2
        </where>
    </select>

    <select id="SelectMyDinnerFoodByDate" resultMap="choiceResultMap">
        SELECT
        s.name,s.meals,s.dishescategory,s.id
        FROM
        st_mydishes s
        LEFT JOIN (SELECT * FROM sys_parameter WHERE paraname = 'mealtype') b
        on b.parakey = s.meals
        LEFT JOIN st_intelligencemeals c
        on s.id = c.varietydishes
        <where>
            <if test="restaurant != null">
                AND s.restaurant = #{restaurant}
            </if>
            <if test="date != null">
                AND c.timestamp = #{date}
            </if>
            AND s.meals = 3
        </where>
    </select>
<!--初始化页面查询-->

    <select id="SelectByRestaurant" resultMap="choiceResultMap">
        SELECT s.name,s.meals,s.dishescategory,a.id
        FROM
        st_mydishes s
       left join st_intelligencemeals a
       on s.id = a.varietydishes
        where s.restaurant = #{restaurant}
        and a.timestamp = #{date}
    </select>

<!--    菜品替换 查询排餐菜品种类-->
    <select id="selectCategory" resultType="java.util.Map">
          SELECT s.category,a.id,s.dishescategory
        FROM
        st_mydishes s
       left join st_intelligencemeals a
       on s.id = a.varietydishes
        where s.restaurant = #{restaurant}
        and a.timestamp = #{date}
        and s.meals = #{meals}
    </select>

<!--    查询餐厅关联的菜品种类-->
    <select id="selectCategoryOfRestaurant" resultType="java.lang.String">
        select varietiescode from st_categorydishes
        where affiliatedrestaurant = #{restaurant}
    </select>

<!--    删除不是该餐厅关联的菜品-->
    <delete id="deleteCategory">
        delete from st_intelligencemeals
        where id = #{id}
    </delete>

<!--    查询该餐厅关联的种类的菜品-->
    <select id="selectDish" resultType="java.lang.Integer">
 select id from st_mydishes
 where category = #{category}
  and
 restaurant = #{restaurant}
 and dishescategory = #{dishescategory}
 and meals = #{dishescategory}
   order by RAND()
    </select>
</mapper>
