<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StLocaleatMapper">


   <!-- 添加申请-->
    <insert id="addApplication" parameterType="StLocaleat">
        INSERT INTO st_localeat(
            applicant,begintime,endtime,place,restaurant,remarks,approvedby,state,del_flag
        )
        VALUES (
            #{applicant},#{beginTime},#{endTime},#{place},#{restaurant},#{remarks},#{approvedBy},#{state},#{delFlag}
        )
    </insert>

    <!--申请人查询保存的申请-->
    <select id="getSave" resultType="StLocaleat">
        SELECT
            a.id,
            b.NAME applicant,
            DATE_FORMAT(a.begintime,'%Y-%m-%d') begintime,
            DATE_FORMAT(a.endtime,'%Y-%m-%d') endtime,
            a.place,
            d.RestaurantName restaurant,
            a.remarks,
            c.NAME approvedby,
            a.approvedby state,
            a.restaurant delFlag
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.applicant = #{applicant}
            AND a.state = '0'
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                    STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                    OR c.NAME LIKE #{Msg}
                    OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
            limit #{index},#{pageSize}
    </select>

    <!--申请人查询保存的申请的数量-->
    <select id="getSaveCnt" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.applicant = #{applicant}
            AND a.state = '0'
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                OR c.NAME LIKE #{Msg}
                OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
    </select>

    <!--申请人修改保存的申请-->
    <update id="updateSave" parameterType="StLocaleat">
        UPDATE st_localeat SET begintime = #{beginTime},endtime = #{endTime},
        place = #{place},restaurant = #{restaurant},remarks = #{remarks},approvedby = #{approvedBy},state = #{state}
        WHERE id = #{id}
    </update>

    <!--申请人删除保存的申请-->
    <update id="deleteSave" parameterType="StLocaleat">
        UPDATE st_localeat
        SET del_flag = #{delFlag}
        WHERE id = #{id}
    </update>

    <!--更改申请状态为未审批-->
    <!--<update id="updateState" parameterType="java.lang.String">
        UPDATE st_localeat SET state = '2' WHERE approvedby = #{approvedBy} and state = '1'
    </update>-->

    <!--审批人查看已提交的申请-->
    <select id="getSubmit" resultType="StLocaleat">
        SELECT
            a.id,
            b.NAME applicant,
            DATE_FORMAT(a.begintime,'%Y-%m-%d') begintime,
            DATE_FORMAT(a.endtime,'%Y-%m-%d') endtime,
            a.place,
            d.RestaurantName restaurant,
            a.remarks,
            c.NAME approvedby
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.approvedby = #{approvedBy}
            AND a.state = '1'
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                OR b.NAME LIKE #{Msg}
                OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
            limit #{index},#{pageSize}
    </select>

    <!--审批人查看已提交的申请的数量-->
    <select id="getSubmitCnt" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.approvedby = #{approvedBy}
            AND a.state = '1'
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                OR b.NAME LIKE #{Msg}
                OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
    </select>

    <!--审批人审批-->
    <update id="approval" parameterType="StLocaleat">
        UPDATE st_localeat SET explainInfo = #{explainInfo},state = #{state} WHERE id = #{id}
    </update>

    <resultMap id="getApprovalBy" type="java.util.LinkedHashMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!--查询审批人-->
    <select id="getApprovalBy" resultMap="getApprovalBy">
        SELECT id,name FROM sys_user WHERE role_id = '2'
    </select>

    <!--申请人查询待办-->
    <select id="getBacklog" resultType="StLocaleat">
        SELECT
            a.id,
            b.NAME applicant,
            DATE_FORMAT(a.begintime,'%Y-%m-%d') begintime,
            DATE_FORMAT(a.endtime,'%Y-%m-%d') endtime,
            a.place,
            d.RestaurantName restaurant,
            a.remarks,
            a.explainInfo,
            c.NAME approvedby,
            CASE a.state
            WHEN '0' THEN '待提交'
            WHEN '1' THEN '待审批'
            WHEN '2' THEN '已驳回'
            WHEN '3' THEN '已审批'
            ELSE NULL END state
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.applicant = #{applicant}
            <if test="state != null and state != ''">
                <if test="state == '4'.toString()">
                    AND a.state in ('0','1')
                </if>
                <if test="state != '4'.toString()">
                    AND a.state = #{state}
                </if>
            </if>
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                OR c.NAME LIKE #{Msg}
                OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
            limit #{index},#{pageSize}
    </select>


    <!--申请人查询待办数量-->
    <select id="getBacklogCnt" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            st_localeat a
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) b ON a.applicant = b.id
            LEFT JOIN ( SELECT id, NAME FROM sys_user ) c ON a.approvedby = c.id
            LEFT JOIN st_operationrestaurant d ON d.RestaurantCode = a.restaurant
        WHERE
            a.applicant = #{applicant}
            <if test="state != null and state != ''">
                <if test="state == '4'.toString()">
                    AND a.state in ('0','1')
                </if>
                <if test="state != '4'.toString()">
                    AND a.state = #{state}
                </if>
            </if>
            AND a.del_flag = '0'
            <if test="msg !=null and msg != ''">
                <bind name="Msg" value="'%' + msg + '%'"/>
                AND (
                STR_TO_DATE( #{msg}, '%Y-%m-%d' ) BETWEEN a.begintime AND a.endtime
                OR c.NAME LIKE #{Msg}
                OR a.place LIKE #{Msg}
                )
            </if>
            <if test="restaurant != null and restaurant != ''">
                AND d.id IN (${restaurant} )
            </if>
    </select>
</mapper>