<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StNutritionalAnalysisMapper">
    <resultMap id="NutritionalAnalysisResultMap" type="com.canteen.entity.vo.NutritionalAnalysisVo">
        <id column="id"  property="id" />
        <result property="name" column="name"/>
        <result property="meals" column="meals"/>
        <result property="energy" column="energy"/>
    </resultMap>

    <resultMap id="NutrientAnalysisResultMap" type="com.canteen.entity.vo.NutrientAnalysisVo">
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="saturated" column="saturated"/>
        <result property="cholesterol" column="cholesterol"/>
        <result property="carbohydrate" column="carbohydrate"/>
        <result property="dietaryfiber" column="dietaryfiber"/>
        <result property="vitaminA" column="vitaminA"/>
        <result property="vitaminD" column="vitaminD"/>
        <result property="vitaminE" column="vitaminE"/>
        <result property="vitaminK" column="vitaminK"/>
        <result property="vitaminB1" column="vitaminB1"/>
        <result property="vitaminB2" column="vitaminB2"/>
        <result property="vitaminB6" column="vitaminB6"/>
        <result property="vitamin16" column="vitamin16"/>
        <result property="vitaminC" column="vitaminC"/>
        <result property="nicotinicacid" column="nicotinicacid"/>
        <result property="folicacid" column="folicacid"/>
        <result property="pantothenicacid" column="pantothenicacid"/>
        <result property="biotin" column="biotin"/>
        <result property="choline" column="choline"/>
        <result property="phosphorus" column="phosphorus"/>
        <result property="potassium" column="potassium"/>
        <result property="sodium" column="sodium"/>
        <result property="magnesium" column="magnesium"/>
        <result property="iron" column="iron"/>
        <result property="zinc" column="zinc"/>
        <result property="iodine" column="iodine"/>
        <result property="selenium" column="selenium"/>
        <result property="copper" column="copper"/>
        <result property="fluorine" column="fluorine"/>
        <result property="chromium" column="chromium"/>
        <result property="manganese" column="manganese"/>
        <result property="molybdenum" column="molybdenum"/>
    </resultMap>
    <resultMap id="LngResultMap" type="HashMap">
        <result property="lng" column="lng"/>
        <result property="lat" column="lat"/>
    </resultMap>

    <resultMap id="structureResultMap" type="com.canteen.entity.StDietaryStructureVo">
        <result property="cereal" column="cereal"/>
        <result property="vegetable" column="vegetable"/>
        <result property="fishmeat" column="fishmeat"/>
        <result property="milk" column="milk"/>
        <result property="oilsalt" column="oilsalt"/>
    </resultMap>

<!--  排餐总能量分析-->
    <select id="totalEnergyAnalysis" resultMap="NutritionalAnalysisResultMap">
    select a.id,a.name,a.meals,c.energy
    from st_mydishes a left join st_intelligencemeals d on a.id = d.varietydishes
    right join st_nutritional_components c on a.dishcode = c.code
    where a.restaurant = #{restaurant} and d.timestamp = #{date}
    </select>

    <select id="totalEnergyAnalysisOfWeek" resultMap="NutritionalAnalysisResultMap">
    select a.id,a.name,a.meals,c.energy
    from st_mydishes a left join st_intelligencemeals d on a.id = d.varietydishes
    right join st_nutritional_components c on a.dishcode = c.code
    where a.restaurant = #{restaurant} and d.timestamp between #{StartDate} and #{EndDate}
    </select>

<!--排餐营养素分析-->
    <select id="NutrientAnalysis" resultMap="NutrientAnalysisResultMap">
    select c.protein,c.fat,c.saturated,c.cholesterol,c.carbohydrate,c.dietaryfiber,c.vitaminA,c.vitaminD,
    c.vitaminE,c.vitaminK,c.vitaminB1,c.vitaminB2,c.vitaminB6,c.vitamin16,c.vitaminC,c.nicotinicacid,
    c.folicacid,c.pantothenicacid,c.biotin,c.choline,c.calcium,c.phosphorus,c.potassium,c.sodium,c.magnesium,
    c.iron,c.zinc,c.iodine,c.selenium,c.copper,c.fluorine,c.chromium,c.manganese,c.molybdenum
   from st_mydishes a left join st_intelligencemeals d on a.id = d.varietydishes
    right join st_nutritional_components c on a.dishcode = c.code
    where a.restaurant = #{restaurant} and d.timestamp = #{date}
    </select>

<!--    根据餐馆返回餐馆经纬度-->
    <select id="selectLngByRestaurant" resultMap="LngResultMap">
  select a.lng,a.lat from
  st_operationrestaurant a left join
      ( SELECT * FROM sys_parameter WHERE paraname = 'mealtype' ) b
      on a.RestaurantCode = b.parakey
      where a.RestaurantCode = #{restaurant}
    </select>

<!--    膳食结构查询-->
    <select id="selectDietaryStructure" resultMap="structureResultMap">
    select c.cereal,c.vegetable,c.fishmeat,c.milk,c.oilsalt
    from st_mydishes a
    left join st_intelligencemeals b on a.id = b.varietydishes
    right join st_dietary_structure c on a.id = c.disid
    where a.restaurant = #{restaurant} and b.timestamp = #{date}
    </select>
</mapper>
