<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StRestaurantinformationMapper">
    <resultMap id="StRestaurantinformationMapper" type="com.canteen.entity.StRestaurantinformation">
        <result property="id" column="id"/>
        <result property="dictionary" column="dictionary"/>
        <result property="supplystarttime" column="supplystarttime"/>
        <result property="supplyendtime" column="supplyendtime"/>
        <result property="givestarttime" column="givestarttime"/>
        <result property="giveendtime" column="giveendtime"/>
        <result property="upperstarttime" column="upperstarttime"/>
        <result property="upperendtime" column="upperendtime"/>
        <result property="dishes" column="dishes"/>
        <result property="mealintroduction" column="mealintroduction"/>
        <result property="restaurant" column="restaurant"/>
    </resultMap>
    <select id="insertMorning" resultMap="StRestaurantinformationMapper">
        SELECT
            a.id,
            b.paravalue dictionary,
            a.supplystarttime,
            a.supplyendtime,
            a.givestarttime,
            a.giveendtime,
            a.upperstarttime,
            a.upperendtime,
            a.dishes,
            a.mealintroduction,
            f.RestaurantName restaurant
        FROM
            ( SELECT * FROM st_restaurantinformation ) a
            LEFT JOIN ( SELECT * FROM sys_parameter WHERE paraname = 'mealtype' ) b ON a.dictionary = b.parakey
            LEFT JOIN st_operationrestaurant f ON a.restaurant = f.RestaurantCode
        WHERE
        1=1

        AND a.dictionary = 1

        <if test="restaurant != null and restaurant != ''">
            AND f.id in (${restaurant})
        </if>
    </select>

    <select id="insertChinesefast" resultMap="StRestaurantinformationMapper">
        SELECT
            a.id,
            b.paravalue dictionary,
            a.supplystarttime,
            a.supplyendtime,
            a.givestarttime,
            a.giveendtime,
            a.upperstarttime,
            a.upperendtime,
            a.dishes,
            a.mealintroduction,
            f.RestaurantName restaurant
        FROM
            ( SELECT * FROM st_restaurantinformation ) a
            LEFT JOIN ( SELECT * FROM sys_parameter WHERE paraname = 'mealtype' ) b ON a.dictionary = b.parakey
            LEFT JOIN st_operationrestaurant f ON a.restaurant = f.RestaurantCode
        WHERE
        1=1

        AND a.dictionary = 2

        <if test="restaurant != null and restaurant != ''">
            AND f.id in (${restaurant})
        </if>
    </select>

    <select id="insertSupper" resultMap="StRestaurantinformationMapper">
        SELECT
            a.id,
            b.paravalue dictionary,
            a.supplystarttime,
            a.supplyendtime,
            a.givestarttime,
            a.giveendtime,
            a.upperstarttime,
            a.upperendtime,
            a.dishes,
            a.mealintroduction,
            f.RestaurantName restaurant
        FROM
            ( SELECT * FROM st_restaurantinformation ) a
            LEFT JOIN ( SELECT * FROM sys_parameter WHERE paraname = 'mealtype' ) b ON a.dictionary = b.parakey
            LEFT JOIN st_operationrestaurant f ON a.restaurant = f.RestaurantCode
        WHERE
            1=1

        AND a.dictionary = 3

        <if test="restaurant != null and restaurant != ''">
            AND f.id in (${restaurant})
        </if>
    </select>

    <update id="updateMeal" parameterType="com.canteen.entity.StRestaurantinformation">
          UPDATE st_restaurantinformation
          SET   supplystarttime = #{supplystarttime},
                supplyendtime =  #{supplyendtime},
                givestarttime =  #{givestarttime},
                giveendtime = #{giveendtime},
                upperstarttime =  #{upperstarttime},
                upperendtime =  #{upperendtime},
                mealintroduction =  #{mealintroduction},
                dictionary =  #{dictionary},
                dishes =  #{dishes},
                restaurant = #{restaurant}
          WHERE
	          id = #{id}
    </update>
    <insert id="insertMeal" parameterType="com.canteen.entity.StRestaurantinformation">

        INSERT INTO st_restaurantinformation (
                        id,
                        supplystarttime,
                        supplyendtime,
                        givestarttime,
                        giveendtime,
                        upperstarttime,
                        upperendtime,
                        mealintroduction,
                        dictionary,
                        dishes,
                        restaurant)
        VALUES
            (#{id},
            #{supplystarttime},
            #{supplyendtime},
            #{givestarttime},
            #{giveendtime},
            #{upperstarttime},
            #{upperendtime},
            #{mealintroduction},
            #{dictionary},
            #{dishes},
            #{restaurant}
        )

    </insert>
</mapper>