<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.mapper.StSupplierMapper">

    <!--供应商列表-->
    <select id="getSupplier" resultType="java.util.LinkedHashMap">
        SELECT
            *
        FROM
            (
            SELECT
                a.id,
                a.NAME,
                a.number,
                a.CODE,
                DATE_FORMAT( a.establishTime, '%Y年%m月%d日' ) establishTime,
                a.address,
                DATE_FORMAT( a.businessvalidity, '%Y年%m月%d日' ) businessvalidity,
                a.representative,
                a.phone,
                a.idCard,
                IFNULL( b.cnt, 0 ) cnt,
                IFNULL(a.payablesurplus,0) payablesurplus
            FROM
                `st_supplier` a
                LEFT JOIN ( SELECT sid, count( 1 ) cnt FROM st_supplier_food GROUP BY sid ) b ON a.id = b.sid
            ) c
        WHERE
            1 = 1
            <if test="name != null and name != ''">
                <bind name="Name" value="'%' + name + '%'"/>
                AND c.name like #{Name}
            </if>
            <if test="number != null and number != ''">
                <bind name="Number" value="'%' + number + '%'"/>
                AND c.number like #{Number}
            </if>
            <if test="code != null and code != ''">
                <bind name="Code" value="'%' + code + '%'"/>
                AND c.CODE like #{Code}
            </if>
            <if test="count != null and count != ''">
                AND c.cnt = #{count}
            </if>
            <if test="pageMark != null and pageMark != ''">
                limit #{index},#{pageSize}
            </if>
    </select>

    <!--供应商数量-->
    <select id="getSupplierCnt" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            (
            SELECT
                a.NAME,
                a.number,
                a.CODE,
                IFNULL( b.cnt, 0 ) cnt
            FROM
                `st_supplier` a
                LEFT JOIN ( SELECT sid, count( 1 ) cnt FROM st_supplier_food GROUP BY sid ) b ON a.id = b.sid
            ) c
        WHERE
            1 = 1
            <if test="name != null and name != ''">
                <bind name="Name" value="'%' + name + '%'"/>
                AND c.name like #{Name}
            </if>
            <if test="number != null and number != ''">
                <bind name="Number" value="'%' + number + '%'"/>
                AND c.number like #{Number}
            </if>
            <if test="code != null and code != ''">
                <bind name="Code" value="'%' + code + '%'"/>
                AND c.CODE like #{Code}
            </if>
            <if test="count != null and count != ''">
                AND c.cnt = #{count}
            </if>
    </select>

    <!--通过供应商id查询项目法人-->
    <select id="getPerson" resultType="java.util.LinkedHashMap">
        SELECT
            id,
            person,
            entryname,
            scale,
            scope,
            period,
            files,
            supplierId
        FROM
            st_certificate
        WHERE
            supplierId = #{id}
    </select>

    <!--新增准入供应商-->
    <insert id="addSupplier" parameterType="StSupplier" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO st_supplier (
            id,name,number,code,establishTime,registeredCapital,address,businessvalidity,representative,phone,idCard,
            reviewresults,selection,payablesurplus,certificates,beginTime,endTime,explains,state
        )VALUES (
            #{id},#{name},#{number},#{code},#{establishTime},#{registeredCapital},#{address},#{businessValidity},#{representative},
            #{phone},#{idCard},#{reviewResults},#{selection},#{payableSurplus},#{certificates},#{beginTime},
            #{endTime},#{explains},#{state}
        )
    </insert>

    <!--新增项目法人-->
    <insert id="addCertificate" parameterType="StCertificate">
        INSERT INTO st_certificate (
            person,entryname,scale,scope,period,files,supplierId
        )VALUES (
            #{person},#{entryName},#{scale},#{scope},#{period},#{files},#{supplierId}
        )
    </insert>

    <!--编辑供应商-->
    <update id="updateSupplier" parameterType="StSupplier">
        UPDATE st_supplier SET
            name = #{name},number = #{number},code = #{code},establishTime = #{establishTime},
            registeredCapital = #{registeredCapital},address = #{address},businessvalidity = #{businessValidity},
            representative = #{representative},phone = #{phone},idCard = #{idCard},reviewresults = #{reviewResults},
            certificates = #{certificates},beginTime = #{beginTime},endTime = #{endTime},explains = #{explains}
        WHERE
            id = #{id}

    </update>

    <!--查询供应商评分-->
    <select id="getScoreCnt" resultType="java.lang.Integer">
        SELECT
            count( 1 ) cnt
        FROM
            st_supplierscore
        WHERE
            supplierId = #{id}
            <if test="timeType == 1">
                AND YEAR(releasetime)=YEAR(NOW())
            </if>
            <if test="timeType == 2">
                AND YEAR(releasetime)=YEAR(date_sub(now(),interval 1 year))
            </if>
    </select>

    <select id="getScore" resultType="java.util.LinkedHashMap">
        SELECT
            timescore
        FROM
            st_supplierscore
        WHERE
            supplierId = #{id}
            <if test="timeType == 1">
                AND YEAR(releasetime)=YEAR(NOW())
            </if>
            <if test="timeType == 2">
                AND YEAR(releasetime)=YEAR(date_sub(now(),interval 1 year))
            </if>
    </select>

    <!--查询供应商扣分-->
    <select id="deductScoreCnt" resultType="java.lang.Integer">
        SELECT
            count( 1 ) cnt
        FROM
            st_penaltylist
        WHERE
            supplierId = #{id}
            <if test="timeType == 1">
                AND YEAR(releasetime)=YEAR(NOW())
            </if>
            <if test="timeType == 2">
                AND YEAR(releasetime)=YEAR(date_sub(now(),interval 1 year))
            </if>
    </select>

    <select id="deductScore" resultType="java.util.LinkedHashMap">
        SELECT
            deductionpoints
        FROM
            st_penaltylist
        WHERE
            supplierId = #{id}
            <if test="timeType == 1">
                AND YEAR(releasetime)=YEAR(NOW())
            </if>
            <if test="timeType == 2">
                AND YEAR(releasetime)=YEAR(date_sub(now(),interval 1 year))
            </if>
    </select>


    <!--供应商遴选列表-->
    <select id="getEligible" resultType="java.util.LinkedHashMap">
        SELECT
            *
        FROM (
            SELECT
                a.id,
                a.name,
                a.code,
                a.representative,
                DATE_FORMAT(a.beginTime,'%Y-%m-%d %H:%i:%s') beginTime,
                DATE_FORMAT(a.endTime,'%Y-%m-%d %H:%i:%s') endTime,
                a.explains,
                CASE WHEN c.cnt > 0 THEN '是' ELSE '否' END AS lastPenalty,
                CASE WHEN b.cnt > 0 THEN '是' ELSE '否' END AS thisPenalty
            FROM
                st_supplier a
                LEFT JOIN ( SELECT count(1) cnt, supplierId FROM st_penaltylist WHERE YEAR(releasetime)=YEAR(NOW()) GROUP BY supplierId ) b ON a.id = b.supplierId
                LEFT JOIN ( SELECT count(1) cnt, supplierId FROM st_penaltylist WHERE YEAR(releasetime)=YEAR(date_sub(now(),interval 1 year)) GROUP BY supplierId ) c ON a.id = c.supplierId
            WHERE
                a.state = #{state}
                <if test="name != null and name != ''">
                    <bind name="Name" value="'%' + name + '%'"/>
                    AND a.name like #{Name}
                </if>
                <if test="number != null and number != ''">
                    <bind name="Number" value="'%' + number + '%'"/>
                    AND a.number like #{Number}
                </if>
                <if test="address != null and address != ''">
                    <bind name="Address" value="'%' + address + '%' "/>
                    AND a.address like #{Address}
                </if>
                <if test="establishTime != null and establishTime != ''">
                    AND STR_TO_DATE(a.establishTime,'%Y-%m-%d') = STR_TO_DATE(#{establishTime},'%Y-%m-%d')
                </if>
                <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
                    AND a.registeredCapital between #{startMoney} and #{endMoney}
                </if>
        ) d
        WHERE
            1 = 1
            <if test="lastPenalty != null and lastPenalty != ''">
                AND d.lastPenalty = #{lastPenalty}
            </if>
            <if test="thisPenalty != null and thisPenalty != ''">
                AND d.thisPenalty = #{thisPenalty}
            </if>
    </select>

    <!--供应商遴选-->
    <update id="choose" parameterType="StSupplier">
        UPDATE st_supplier SET state = #{state},includedTime = #{includedTime} WHERE id = #{id}
    </update>

    <select id="getSelection" resultType="java.lang.String">
        SELECT selection FROM st_supplier WHERE id = #{id}
    </select>

    <!--修改入选次数-->
    <update id="updateSelection" parameterType="StSupplier">
        UPDATE st_supplier SET selection = #{selection} WHERE id = #{id}
    </update>

    <!--本年度黑名单-->
    <select id="getBlacklist" resultType="java.util.LinkedHashMap">
        SELECT
            b.name,
            b.representative,
            a.issued,
            DATE_FORMAT(a.releasetime,'%Y-%m-%d %H:%i:%s') releasetime,
            DATE_FORMAT(a.relievetime,'%Y-%m-%d %H:%i:%s') relievetime,
            a.Reason,
            a.enclosure
        FROM
            st_blacklist a
            LEFT JOIN st_supplier b ON a.supplierID = b.id
        WHERE
            a.supplierId = #{id}
            <if test="timeType == 1">
                AND YEAR(a.releasetime) = YEAR(now())
            </if>
    </select>

    <!--供应商评价-->
    <!--历史记录-->
    <select id="getHistory" resultType="java.util.LinkedHashMap">
        SELECT
            b.name,
            b.representative,
            a.issued,
            DATE_FORMAT(a.releasetime,'%Y-%m-%d %H:%i:%s') releasetime,
            a.timescore,
            a.scoring,
            a.enclosure
        FROM
             st_supplierscore a
            LEFT JOIN st_supplier b ON a.supplierId = b.id
        WHERE
            a.supplierId = #{id}
    </select>

    <!--添加评分-->
    <insert id="addScore" parameterType="StSupplierScore">
        INSERT INTO st_supplierscore(
            releasetime,issued,timescore,scoring,enclosure,supplierId
        )VALUES(
            #{releaseTime},#{issued},#{timeScore},#{scoring},#{enclosure},#{supplierId}
        )
    </insert>

    <!--历史惩罚-->
    <select id="getPunishment" resultType="java.util.LinkedHashMap">
        SELECT
            b.NAME,
            b.representative,
            a.issued,
            DATE_FORMAT(a.releasetime,'%Y-%m-%d %H:%i:%s') releasetime,
            a.deductionpoints,
            a.fine,
            a.otherpenaltie,
            a.Reason,
            a.enclosure
        FROM
            st_penaltylist a
            LEFT JOIN st_supplier b ON a.supplierID = b.id
        WHERE
            a.supplierId = #{id}
    </select>

    <!--添加惩罚-->
    <insert id="addPunishment" parameterType="StPenaltyList">
        INSERT INTO st_penaltylist(
            fine,otherpenaltie,deductionpoints,issued,releasetime,Reason,enclosure,supplierId
        )VALUES (
            #{fine},#{otherPenaltie},#{deductionPoints},#{issued},#{releaseTime},#{reason},#{enclosure},#{supplierId}
        )
    </insert>

    <!--添加黑名单-->
    <insert id="addBlacklist" parameterType="StBlacklist">
        INSERT INTO st_blacklist (
            releasetime,relievetime,Reason,issued,enclosure,supplierId
        )VALUES (
            #{releaseTime},#{relieveTime},#{reason},#{issued},#{enclosure},#{supplierId}
        )
    </insert>

    <!--通过id查询供应商附件-->
    <select id="getCertificates" resultType="java.lang.String">
        SELECT certificates FROM st_supplier WHERE id = #{id}
    </select>
</mapper>