<div class= "transferEditor" data-bind='style:{width: width}'>
	<div class= "transfer transferLeft" data-bind="style:{height: transferHeight}">
		<ul class="dropdown-menu" data-bind="style:{width: transferWidth}, foreach: list">
			<li data-bind="css: {active:value==$parent.value()}"><a href="#" data-bind="text: text,css: {active:value==$parent.value()},  event:{click: $parent._selectListItem, dblclick:function(data,event){$parent._abAddItem($element,event)}}"></a></li>
		</ul>
	</div>
	<div class= "transferCenter" style="width: 100px;">
		<!-- ko if: displayAddButton -->
 		<input type="button" class="btn btn-primary" data-bind="event:{click:function(data,event){_addItem($element,event)}}, value:cube.msg('ADD_RIGHT')"  ></input>
 		<!-- /ko -->
 		<!-- ko if: displayDeleteButton -->
		<input type="button" class="btn btn-primary" data-bind="click:_removeItem,value:cube.msg('DELETE_LEFT')"></input>
		<!-- /ko -->
		<!-- ko if: displayAddAllButton -->
		<input type="button" class="btn btn-primary" data-bind="click:_addAllItems,value:cube.msg('ADD_ALL')"></input>
		<!-- /ko -->
		<!-- ko if: displayDeleteAllButton -->
		<input type="button" class="btn btn-primary" data-bind="click:_removeAllItems,value:cube.msg('DELETE_All')"></input>
		<!-- /ko -->
	</div>
	<div class= "transfer transferRight"  data-bind="style:{height: transferHeight}">
		<ul class="dropdown-menu" data-bind="style:{width: transferWidth}, foreach: listRight">
			<li data-bind="css: {active:value==$parent.value()}"><a href="#" data-bind="text: text,css: {active:value==$parent.value()}, event:{click: $parent._selectListItem, dblclick: function(data,event){$parent._abRemoveItem($element,event)}}"></a></li>
		</ul>
	</div>
</div>