# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github\bigdata\online-taxi-public\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
target/
/api-passenger/target
/internal-common/target
/service-map/target
/service-passenger-user/target
/service-price/target
/service-verificationcode/target
/api-boos/target
/.idea/