<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raysdata.riskdataanalyzeserver.mapper.RiskWorkStaffInfoMapper">

    <select id="getRiskWorkerInfosListCNT1" resultType="java.lang.Integer">
        SELECT count(1) cnt from srp_work_mainoccupation_basicfileinfo a
        left join (SELECT WORKER_ID,GROUP_CONCAT(PROJECT, ";") AS PROJECT FROM srp_work_siteworkertoproject GROUP BY
        WORKER_ID) b on a.BASICFILEINFO_ID = b.WORKER_ID
        left JOIN (select column_type_code,column_type_name from srp_risk_sys_tab where column_code = 'DATAREPORT_ORG')
        c on a.DATAREPORT_ORG_ID = c.column_type_code
        <where>
            <if test="null != name and '' != name">
                AND a.NAME like concat("%",#{name},"%")
            </if>
            <if test="null != orgName and '' != orgName">
                AND a.ORG_NAME like concat("%",#{orgName},"%")
            </if>
            <if test="null != datareportOrgId and '' != datareportOrgId">
                AND a.DATAREPORT_ORG_ID = #{datareportOrgId}
            </if>
        </where>
    </select>
    <select id="getRiskWorkerInfosList1" resultType="java.util.Map">
        SELECT a.BASICFILEINFO_ID,a.NAME,d.column_type_name SEX,a.ID_CARD,c.column_type_name
        DATAREPORT_ORG,a.ORG_NAME,b.PROJECT,a.CONTACT,a.POTO, a.AGE
        FROM
        srp_work_mainoccupation_basicfileinfo a
        LEFT JOIN ( SELECT WORKER_ID, GROUP_CONCAT( PROJECT, ";" ) AS PROJECT FROM srp_work_siteworkertoproject GROUP BY
        WORKER_ID ) b ON a.BASICFILEINFO_ID = b.WORKER_ID
        LEFT JOIN ( SELECT column_type_code, column_type_name FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG'
        ) c ON a.DATAREPORT_ORG_ID = c.column_type_code
        LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'SEX' ) d ON a.SEX = d.column_type_code
        <where>
            <if test="null != name and '' != name">
                AND a.NAME like concat("%",#{name},"%")
            </if>
            <if test="null != orgName and '' != orgName">
                AND a.ORG_NAME like concat("%",#{orgName},"%")
            </if>
            <if test="null != datareportOrgId and '' != datareportOrgId">
                AND a.DATAREPORT_ORG_ID = #{datareportOrgId}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>
    <select id="getRiskWorkerInfosList2" resultType="java.util.Map">
        SELECT a.BASICFILEINFO_ID,a.NAME,d.column_type_name SEX,a.ID_CARD,c.column_type_name
        DATAREPORT_ORG,a.ORG_NAME,b.PROJECT,a.CONTACT,a.POTO, a.AGE
        FROM
        srp_work_mainoccupation_basicfileinfo a
        LEFT JOIN ( SELECT WORKER_ID, GROUP_CONCAT( PROJECT, ";" ) AS PROJECT FROM srp_work_siteworkertoproject GROUP BY
        WORKER_ID ) b ON a.BASICFILEINFO_ID = b.WORKER_ID
        LEFT JOIN ( SELECT column_type_code, column_type_name FROM srp_risk_sys_tab WHERE column_code =
        'DATAREPORT_ORG') c ON a.DATAREPORT_ORG_ID = c.column_type_code
        LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'SEX' ) d ON a.SEX = d.column_type_code
        <where>
            <if test="null != name and '' != name">
                AND a.NAME like concat("%",#{name},"%")
            </if>
            <if test="null != orgName and '' != orgName">
                AND a.ORG_NAME like concat("%",#{orgName},"%")
            </if>
            <if test="null != datareportOrgId and '' != datareportOrgId">
                AND a.DATAREPORT_ORG_ID = #{datareportOrgId}
            </if>
            <if test="null != workerId and '' != workerId">
                AND BASICFILEINFO_ID = #{workerId}
            </if>
        </where>
    </select>
    <select id="getAllPeopleNum" resultType="java.lang.Integer">
        SELECT count(1) cnt
        FROM srp_work_mainoccupation_basicfileinfo
    </select>
    <select id="getPeopleNumByWORKERNATURE" resultType="java.lang.Integer">
        select count(1)
        from srp_work_mainoccupation_basicfileinfo
        where WORKER_NATURE = #{sql}
    </select>
    <select id="getRiskWorkertoProjectListCNT1" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_siteworkertoproject a,
        srp_work_projectmanagement b
        where a.PROJECTG_ID = b.PROJECT_CODE
        and a.WORKER_ID = #{workerId}
    </select>
    <select id="getRiskWorkertoProjectList1" resultType="java.util.Map">
        select b.PROJECT_NAME,
        b.PROJECT_CODE,
        b.CONTRACTOR_MANAGER,
        c.column_type_name STATE_PROJECT,
        b.CREATE_TIME,
        b.END_TIME
        FROM srp_work_siteworkertoproject a,
        srp_work_projectmanagement b,
        (SELECT * FROM srp_risk_sys_tab WHERE column_code = 'STATE_PROJECT') c
        WHERE a.PROJECTG_ID = b.PROJECT_CODE
        AND b.STATE_PROJECT = c.column_type_code
        AND a.WORKER_ID = #{workerId}
        LIMIT #{offset}, #{size}
    </select>
    <select id="getRiskWorkerLinkageInfosListCNT" resultType="java.lang.Integer">
        SELECT count(1) cnt
        from srp_work_mainoccupation_basicfileinfo a
        left join (select VIOLATION_STAFF_ID, count(1) VIOLATION_CNT
        from srp_work_kdtb_violationfile
        group by VIOLATION_STAFF_ID) b on a.BASICFILEINFO_ID = b.VIOLATION_STAFF_ID
        left JOIN (select column_type_code, column_type_name
        from srp_risk_sys_tab
        where column_code = 'DATAREPORT_ORG') c on a.DATAREPORT_ORG_ID = c.column_type_code
        left JOIN (select column_type_code, column_type_name
        from srp_risk_sys_tab
        where column_code = 'ACCESS_STATE') d on a.ACCESS_STATE = c.column_type_code
    </select>
    <select id="getRiskWorkerLinkageInfosList" resultType="java.util.Map">
        SELECT a.BASICFILEINFO_ID,
        a.NAME,
        e.column_type_name SEX,
        a.ID_CARD,
        c.column_type_name DATAREPORT_ORG,
        a.ORG_NAME,
        d.column_type_name ACCESS_STATE,
        a.ACCESS_DATE,
        IFNULL(b.STAFFVIOLATIO_CNT, 0) VIOLATION_CNT,
        a.CONTACT,
        a.POTO,
        a.AGE
        from srp_work_mainoccupation_basicfileinfo a
        left join (select PENALTY_STAFF_ID, count(1) STAFFVIOLATIO_CNT from srp_work_staffviolationpenalty group by PENALTY_STAFF_ID) b on a.BASICFILEINFO_ID = b.PENALTY_STAFF_ID
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'DATAREPORT_ORG') c on a.DATAREPORT_ORG_ID = c.column_type_code
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'ACCESS_STATE') d on a.ACCESS_STATE = d.column_type_code
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'SEX') e on a.SEX = e.column_type_code
        <where>
            <if test="null != name and '' != name">
                AND a.NAME like concat("%",#{name},"%")
            </if>
            <if test="null != orgName and '' != orgName">
                AND a.ORG_NAME like concat("%",#{orgName},"%")
            </if>
            <if test="null != datareportOrgId and '' != datareportOrgId">
                AND a.DATAREPORT_ORG_ID = #{datareportOrgId}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>

    <select id="getOrgId" resultType="java.util.Map">
        select ORG_ID
        from srp_work_staff_org
        where STAFF_ID = #{STAFF_ID}
    </select>
    <select id="getOrgNumByOrgId" resultType="java.lang.Integer">
        select count(1)
        from srp_work_outsourcingunit
        <if test="orgIdList !=null and orgIdList.size >0 ">
            where SITEINFO_ID in
            <foreach item="item" index="index" collection="orgIdList" open="(" separator="," close=")">
                #{item.ORG_ID}
            </foreach>
        </if>

    </select>
    <select id="getAccessList" resultType="java.util.Map">
        SELECT d.column_type_name DATAREPORT_ORG,
        a.ACCEPT_ORG,
        a.BASICINFO_CONTRACTOR,
        a.REPORT_CARD_BEGINTIME,
        a.REPORT_CARD_ENDTIME,
        b.column_type_name ACCESS_STATE,
        c.column_type_name BREACH_FAITH
        FROM (SELECT * FROM srp_work_outsourcingunit
        <if test="orgIdList !=null and orgIdList.size >0 ">
        WHERE SITEINFO_ID in
        <foreach item="item" index="index" collection="orgIdList" open="(" separator="," close=")">
            #{item.ORG_ID}
        </foreach>
        </if>
        LIMIT #{offset}, #{size} ) a
        LEFT JOIN (SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCESS_STATE') b
        ON a.ACCESS_STATE = b.column_type_code
        LEFT JOIN (SELECT * FROM srp_risk_sys_tab WHERE column_code = 'BREACH_FAITH') c
        ON a.BREACH_FAITH = c.column_type_code
        LEFT JOIN (SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG') d
        ON a.DATAREPORT_ORG = d.column_type_code
    </select>
    <select id="getRiskWorkerUnitChangeListCNT" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_unitchange
        where WORKER_ID = #{workerId}
    </select>
    <select id="getRiskWorkerUnitChangeList" resultType="java.util.Map">
        select SITEWORKERTOPROJECT_ID,
        WORKER,
        WORKER_ID,
        PROJECT,
        CREATE_TIME,
        UPDATE_TIME
        from srp_work_unitchange
        where WORKER_ID = #{workerId}
    </select>
    <select id="getRiskWorkerViolationListCNT" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_kdtb_violationfile
        where VIOLATION_STAFF_ID = #{VIOLATION_STAFF_ID}
    </select>
    <select id="getRiskWorkerViolationList" resultType="java.util.Map">
        select VIOLATION_LEVEL, VIOLATION_CONTENT, VIOLATION_ORG, VIOLATION_DATE, CHECK_LEVEL
        from srp_work_kdtb_violationfile
        where VIOLATION_STAFF_ID = #{VIOLATION_STAFF_ID}
    </select>
    <select id="getRiskWorkerSafeInfoListCNT" resultType="java.lang.Integer">
        SELECT count(1) cnt
        from srp_work_mainoccupation_basicfileinfo a
        left join (select WORKER_ID, count(1) SAFELEARNING_CNT from srp_work_safelearning group by WORKER_ID) b on a.BASICFILEINFO_ID = b.WORKER_ID
        left JOIN (select WORKER_ID, count(1) SAFETYTEST_CNT from srp_work_safetytest group by WORKER_ID) c on a.BASICFILEINFO_ID = c.WORKER_ID
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'DATAREPORT_ORG') d on a.DATAREPORT_ORG_ID = d.column_type_code
        LEFT JOIN (select PENALTY_STAFF_ID, count(1) STAFFVIOLATIO_CNT, SUM(PENALTY_STAFF_POINTS + 0) POINTS from srp_work_staffviolationpenalty GROUP BY PENALTY_STAFF_ID) e on a.BASICFILEINFO_ID = e.PENALTY_STAFF_ID

    </select>
    <select id="getRiskWorkerSafeInfoList" resultType="java.util.Map">
        SELECT a.BASICFILEINFO_ID,
        a.NAME,
        f.column_type_name SEX,
        a.ID_CARD,
        d.column_type_name DATAREPORT_ORG,
        a.ORG_NAME,
        IFNULL(b.SAFELEARNING_CNT, 0) SAFELEARNING_CNT,
        IFNULL(c.SAFETYTEST_CNT, 0) SAFETYTEST_CNT,
        IFNULL(e.POINTS, 0) POINTS,
        IFNULL(e.STAFFVIOLATIO_CNT, 0) STAFFVIOLATIO_CNT,
        a.CONTACT,
        a.POTO,
        a.AGE
        from srp_work_mainoccupation_basicfileinfo a
        left join (select WORKER_ID, count(1) SAFELEARNING_CNT from srp_work_safelearning group by WORKER_ID) b on a.BASICFILEINFO_ID = b.WORKER_ID
        left JOIN (select WORKER_ID, count(1) SAFETYTEST_CNT from srp_work_safetytest group by WORKER_ID) c on a.BASICFILEINFO_ID = c.WORKER_ID
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'DATAREPORT_ORG') d on a.DATAREPORT_ORG_ID = d.column_type_code
        left JOIN (select column_type_code, column_type_name from srp_risk_sys_tab where column_code = 'SEX') f on a.SEX = f.column_type_code
        LEFT JOIN (select PENALTY_STAFF_ID, count(1) STAFFVIOLATIO_CNT, SUM(PENALTY_STAFF_POINTS + 0) POINTS from srp_work_staffviolationpenalty GROUP BY PENALTY_STAFF_ID) e on a.BASICFILEINFO_ID = e.PENALTY_STAFF_ID
        <where>
            <if test="null != name and '' != name">
                AND a.NAME like concat("%",#{name},"%")
            </if>
            <if test="null != orgName and '' != orgName">
                AND a.ORG_NAME like concat("%",#{orgName},"%")
            </if>
            <if test="null != datareportOrgId and '' != datareportOrgId">
                AND a.DATAREPORT_ORG_ID = #{datareportOrgId}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>
    <select id="getViolationPeopleNum" resultType="java.lang.Integer">
        SELECT
            count( 1 ) cnt
        FROM
            srp_work_mainoccupation_basicfileinfo a
                LEFT JOIN ( SELECT PENALTY_STAFF_ID, count( 1 ) STAFFVIOLATIO_CNT FROM srp_work_staffviolationpenalty GROUP BY PENALTY_STAFF_ID ) e ON a.BASICFILEINFO_ID = e.PENALTY_STAFF_ID
        WHERE
            STAFFVIOLATIO_CNT >0
--         select count(1) cnt
--         from (select 1 from srp_work_kdtb_violationfile group by VIOLATION_STAFF) a








    </select>
    <select id="getExaminationNum" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_safetytest
        <where>
            <if test="null != pass and '' != pass">
                WHETHER_PASS = #{pass}
            </if>
        </where>
    </select>
    <select id="getRiskWorkerSafeLearnListCNT" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_safelearning
        where WORKER_ID = #{workerId}
    </select>
    <select id="getRiskWorkerSafeLearnList" resultType="java.util.Map">
        select SAFELEARNING_NAME, SAFELEARNING_CONTENT, SAFELEARNING_DATE, SAFELEARNING_RESULT
        from srp_work_safelearning
        <where>
            <if test="null != workerId and '' != workerId">
                WORKER_ID = #{workerId}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>
    <select id="getRiskWorkerSafetyTestListCNT" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_safetytest
        where WORKER_ID = #{workerId}
    </select>
    <select id="getRiskWorkerSafetyTestList" resultType="java.util.Map">
        select TEST_NAME, TEST_SCORE, WHETHER_PASS
        from srp_work_safetytest
        <where>
            <if test="null != workerId and '' != workerId">
                WORKER_ID = #{workerId}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>
    <select id="getRiskWorkerViolationPointsListCNT" resultType="java.lang.Integer">
        select count(1) cnt
        from srp_work_staffviolationpenalty a,
             srp_work_kdtb_violationfile b
        where a.PENALTY_STAFF_ID = b.VIOLATIONFILE_ID
          and a.PENALTY_STAFF_ID = #{PENALTY_STAFF_ID}
    </select>
    <select id="getRiskWorkerViolationPointsList" resultType="java.util.Map">
        select b.VIOLATION_LEVEL,
        b.VIOLATION_CONTENT,
        b.VIOLATION_ORG,
        b.VIOLATION_DATE,
        CHECK_LEVEL,
        a.PENALTY_STAFF_POINTS
        from srp_work_staffviolationpenalty a,srp_work_kdtb_violationfile b
        where a.PENALTY_STAFF_ID = b.VIOLATIONFILE_ID
        <if test="null != workerId and '' != workerId">
            and b. VIOLATIONFILE_ID = #{workerId}
        </if>
        LIMIT #{offset}, #{size}
    </select>
</mapper>