<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.raysdata.riskdataanalyzeserver.mapper.SrpWorkKdtbWorkplandayMapper">
    <resultMap id="BaseResultMap"
               type="com.raysdata.riskdataanalyzeserver.bean.SrpWorkKdtbWorkplanday">
        <id column="WORK_PLAN_ID" property="workPlanId" jdbcType="VARCHAR"/>
        <result column="WORK_PLAN_CODE_DAY" property="workPlanCodeDay" jdbcType="VARCHAR"/>
        <result column="MAINSEND" property="mainsend" jdbcType="VARCHAR"/>
        <result column="MAINSEND_ID" property="mainsendId" jdbcType="VARCHAR"/>
        <result column="VOLTAGE_LEVEL" property="voltageLevel" jdbcType="VARCHAR"/>
        <result column="WORK_TYPE" property="workType" jdbcType="VARCHAR"/>
        <result column="WORK_STATE" property="workState" jdbcType="VARCHAR"/>
        <result column="POWER_CUT" property="powerCut" jdbcType="VARCHAR"/>
        <result column="LIVE_WORK_FLAG" property="liveWorkFlag" jdbcType="VARCHAR"/>
        <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="WORKCONTENTS" property="workcontents" jdbcType="VARCHAR"/>
        <result column="OUTWORKER_NUM" property="outworkerNum" jdbcType="VARCHAR"/>
        <result column="WORK_MANAGER" property="workManager" jdbcType="VARCHAR"/>
        <result column="WORK_MANAGER_ID" property="workManagerId" jdbcType="VARCHAR"/>
        <result column="WORK_MANAGER_CONTACT" property="workManagerContact" jdbcType="VARCHAR"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR"/>
        <result column="MANAGE_DEP" property="manageDep" jdbcType="VARCHAR"/>
        <result column="CONSTRUCTION_ORG" property="constructionOrg" jdbcType="VARCHAR"/>
        <result column="CONSTRUCTION_ORG_ID" property="constructionOrgId" jdbcType="VARCHAR"/>
        <result column="SUBCONTRACT_ORG" property="subcontractOrg" jdbcType="VARCHAR"/>
        <result column="SUBCONTRACT_ORG_ID" property="subcontractOrgId" jdbcType="VARCHAR"/>
        <result column="WORKRISK_LEVEL" property="workriskLevel" jdbcType="VARCHAR"/>
        <result column="GRIDRISK_LEVEL" property="gridriskLevel" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR"/>
        <result column="LATITUDE" property="latitude" jdbcType="VARCHAR"/>
        <result column="POWER_OFF_AREAS" property="powerOffAreas" jdbcType="VARCHAR"/>
        <result column="WORK_PLAN_CODE_WEEK" property="workPlanCodeWeek" jdbcType="VARCHAR"/>
        <result column="DATAFILL_ORG" property="datafillOrg" jdbcType="VARCHAR"/>
        <result column="DATAFILL_ORG_ID" property="datafillOrgId" jdbcType="VARCHAR"/>
        <result column="DATAREPORT_ORG" property="datareportOrg" jdbcType="VARCHAR"/>
        <result column="DATAREPORT_ORG_ID" property="datareportOrgId" jdbcType="VARCHAR"/>
        <result column="DATACOMMON_ID" property="datacommonId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs"
               type="com.raysdata.riskdataanalyzeserver.bean.SrpWorkKdtbWorkplandayWithBLOBs"
               extends="BaseResultMap">
        <result column="WORK_PLAN_NAME" property="workPlanName" jdbcType="LONGVARCHAR"/>
        <result column="SUBSTATION_NAME" property="substationName" jdbcType="LONGVARCHAR"/>
        <result column="SUBSTATION_ID" property="substationId" jdbcType="LONGVARCHAR"/>
        <result column="WORK_PLACE" property="workPlace" jdbcType="LONGVARCHAR"/>
        <result column="WORKING_GROUP" property="workingGroup" jdbcType="LONGVARCHAR"/>
        <result column="WORKING_GROUP_ID" property="workingGroupId" jdbcType="LONGVARCHAR"/>
        <result column="WORK_ORG" property="workOrg" jdbcType="LONGVARCHAR"/>
        <result column="WORK_ORG_ID" property="workOrgId" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    WORK_PLAN_ID, WORK_PLAN_CODE_DAY, MAINSEND, MAINSEND_ID, VOLTAGE_LEVEL, WORK_TYPE, 
    WORK_STATE, POWER_CUT, LIVE_WORK_FLAG, BEGIN_TIME, END_TIME, WORKCONTENTS, OUTWORKER_NUM, 
    WORK_MANAGER, WORK_MANAGER_ID, WORK_MANAGER_CONTACT, PROJECT_NAME, PROJECT_ID, MANAGE_DEP, 
    CONSTRUCTION_ORG, CONSTRUCTION_ORG_ID, SUBCONTRACT_ORG, SUBCONTRACT_ORG_ID, WORKRISK_LEVEL, 
    GRIDRISK_LEVEL, CREATE_TIME, UPDATE_TIME, LONGITUDE, LATITUDE, POWER_OFF_AREAS, WORK_PLAN_CODE_WEEK, 
    DATAFILL_ORG, DATAFILL_ORG_ID, DATAREPORT_ORG, DATAREPORT_ORG_ID, DATACOMMON_ID
  </sql>
    <sql id="Blob_Column_List">
    WORK_PLAN_NAME, SUBSTATION_NAME, SUBSTATION_ID, WORK_PLACE, WORKING_GROUP, WORKING_GROUP_ID, 
    WORK_ORG, WORK_ORG_ID
  </sql>

    <!--/*
     * 外包单位风险画像列表
     * paramJson:{"page":"", "size":"","params":{"datareportOrg":"","constructionOrg":""}}
     * */-->
    <select id="getList" resultType="map"
            parameterType="com.raysdata.riskdataanalyzeserver.bean.SrpWorkKdtbWorkplandayWithBLOBs">
        SELECT
        a.CONSTRUCTION_ORG_ID,
        b.column_type_name DATAREPORT_ORG,
        a.CONSTRUCTION_ORG,
        a.WORK_MANAGER,
        a.OUTWORKER_NUM
        FROM ( SELECT * FROM srp_work_kdtb_workplanday WHERE 1=1
        <if test="datareportOrg !=null and datareportOrg !=''">
            AND DATAREPORT_ORG = #{datareportOrg}
        </if>
        <if test="constructionOrg !=null and constructionOrg !=''">
            AND CONSTRUCTION_ORG LIKE CONCAT('%',#{constructionOrg},'%')
        </if>
        LIMIT #{offset}, #{limit}) a
        LEFT JOIN
        ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) b ON
        a.DATAREPORT_ORG = b.column_type_code


    </select>
    <select id="getCount" resultType="int"
            parameterType="com.raysdata.riskdataanalyzeserver.bean.SrpWorkKdtbWorkplandayWithBLOBs">
        SELECT count(*) cnt FROM srp_work_kdtb_workplanday
        where 1=1
        <if test="datareportOrg !=null and datareportOrg !=''">
            AND DATAREPORT_ORG = #{datareportOrg}
        </if>
        <if test="constructionOrg !=null and constructionOrg !=''">
            AND CONSTRUCTION_ORG LIKE CONCAT('%',#{constructionOrg},'%')
        </if>
    </select>

    <select id="getCount4" resultType="int">
        SELECT count(*) cnt FROM srp_work_blacklistorg
        where 1=1
        <if test="siteinfoId !=null and siteinfoId !=''">
            AND SITEINFO_ID=#{siteinfoId}
        </if>
    </select>





    <select id="getCount1" resultType="int" parameterType="map">
        SELECT
        COUNT( * ) cnt
        FROM
        srp_work_projectaccident
        WHERE
        PROJECT_CODE IN ( SELECT PROJECT_CODE FROM srp_work_projectmanagement WHERE 1=1
        <if test="contractorOrgId !=null and contractorOrgId !=''">
            AND CONTRACTOR_ORG_ID =#{contractorOrgId}
        </if>
        )
    </select>
    <select id="getCount2" resultType="int" >
        SELECT count(*) cnt from srp_work_kdtb_violationfile where 1=1
        <if test="violationOrgId !=null and violationOrgId !=''">
            and VIOLATION_ORG_ID=#{violationOrgId}
        </if>
    </select>
    <select id="getCount3" resultType="int" >
        SELECT count(*) cnt from srp_work_negativelistorg where 1=1
        <if test="siteinfoId !=null and siteinfoId !=''">
            AND SITEINFO_ID=#{siteinfoId}
        </if>
    </select>

    <!--/*
     *单位基本情况
     * paramJson:{"page":"", "size":"", "id":""}
     * */-->
    <select id="getList2" resultType="map" parameterType="java.lang.String">
        SELECT 
            a.BASICINFO_CONTRACTOR, 
            a.BASICINFO_ESTABLISHDATE, 
            a.BASICINFO_BUSINESSLICENSE, 
            a.PERSONNEL_NUMBER, 
            a.BASICINFO_LEGALREPRESENTATIVE, 
            b.column_type_name DATAREPORT_ORG, 
            a.BASICINFO_REGISTEREDCAPITAL, 
            a.CERTIFICATION_NAME, 
            a.BASICINFO_CONTACTNUMBER, 
            a.BASICINFO_ORGADDRESS  
            FROM
            ( SELECT * FROM srp_work_outsourcingunit WHERE 1 = 1 and SITEINFO_ID=#{id}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) b ON a.DATAREPORT_ORG = b.column_type_code
    </select>
    <select id="getList3" resultType="map" parameterType="map">
        SELECT
            a.PROJECT_NAME,
            a.PROJECT_CODE,
            a.ISSUING_ORG,
            a.IMPLEMENTATION_SITE,
            a.CREATE_TIME,
            a.END_TIME,
            b.column_type_name STATE_PROJECT
            FROM
            ( SELECT * FROM `srp_work_projectmanagement` where 1=1 and CONTRACTOR_ORG_ID=#{id} limit #{limit} offset #{offset}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'STATE_PROJECT' ) b ON a.STATE_PROJECT = b.column_type_code
  </select>
    <select id="getCount5" resultType="int" parameterType="java.lang.String">
        SELECT count(*) cnt FROM `srp_work_projectmanagement` where 1=1 and CONTRACTOR_ORG_ID =#{id}
    </select>

    <!--/*
     *单位安全资信
     * paramJson:{"id":""}
     * */-->
    <select id="getList4" resultType="map" parameterType="java.lang.String">
        SELECT
            count( CASE WHEN VIOLATION_LEVEL = '01' THEN 1 ELSE NULL END ) AS general,
            count( CASE WHEN VIOLATION_LEVEL = '02' THEN 1 ELSE NULL END ) AS serious 
            FROM
            srp_work_kdtb_violationfile 
            WHERE
            1 = 1 and VIOLATION_ORG_ID=#{id}
    </select>
    <select id="getList5" resultType="map" parameterType="java.lang.String">
        SELECT
            b.column_type_name DATAREPORT_ORG,
            c.PROJECT_NAME,
            e.column_type_name VIOLATION_LEVEL,
            a.VIOLATION_CONTENT,
            d.VIOLATION_ORG_POINTS,
            a.VIOLATION_DATE,
            a.CHECK_LEVEL,
            a.VIOLATION_STAFF, 
            (@i:=@i) PERSON_NUM
            FROM
            (SELECT @i:=1) as i,( SELECT * FROM srp_work_kdtb_violationfile WHERE  VIOLATION_ORG_ID=#{id}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) b ON a.DATAREPORT_ORG = b.column_type_code
            LEFT JOIN ( SELECT * FROM srp_work_projectmanagement ) c ON a.PROJECT_CODE = c.PROJECT_CODE
            LEFT JOIN ( SELECT * FROM srp_work_orgviolationpenalty ) d ON a.VIOLATION_ORG_ID = d.VIOLATION_ORG_ID
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'VIOLATION_LEVEL' ) e ON a.VIOLATION_LEVEL = e.column_type_code
    </select>
    <select id="getList6" resultType="map" parameterType="java.lang.String">
        SELECT
            b.column_type_name DATAREPORT_ORG,
            a.ITEMS_UNDER,
            a.PUBLISH_ORG,
            a.INCLUSION_CONDITION,
            a.RELEASE_DATE,
            a.NEGATIVELISTREL_DATE 
            FROM
            ( SELECT * FROM srp_work_negativelistorg WHERE 1 = 1 and SITEINFO_ID=#{id}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) b ON a.DATAREPORT_ORG = b.column_type_code
    </select>
    <select id="getList7" resultType="map" parameterType="java.lang.String">
        SELECT
            b.column_type_name DATAREPORT_ORG,
            a.PUBLISH_ORG,
            a.ITEMS_UNDER,
            a.INCLUSION_CONDITION,
            c.column_type_name BLACKLIST_LEVEL,
            a.RELEASE_DATE,
            a.BLACKLISTREL_DATE
            FROM
            ( SELECT * FROM srp_work_blacklistorg WHERE 1 = 1 and SITEINFO_ID=#{id}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) b ON a.DATAREPORT_ORG = b.column_type_code 
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'BLACKLIST_LEVEL') c ON a.BLACKLIST_LEVEL = c.column_type_code
    </select>
    <select id="getList8" resultType="map" parameterType="java.lang.String">
        SELECT
            d.PROJECT_NAME,
            d.PROJECT_CODE,
            d.ISSUING_ORG,
            d.IMPLEMENTATION_SITE,
            e.column_type_name ACCIDENT_LEVEL,
            d.cnt,
            f.column_type_name ACCIDENT_HANDLING 
            FROM
            (
            SELECT
            *,
            count( c.ACCIDENT_LEVEL ) cnt 
            FROM
            (
            SELECT
            a.project_name,
            a.project_code,
            a.ISSUING_ORG,
            a.IMPLEMENTATION_SITE,
            b.ACCIDENT_LEVEL,
            b.ACCIDENT_HANDLING 
            FROM
            ( SELECT * FROM srp_work_projectmanagement WHERE 1=1 and CONTRACTOR_ORG_ID=#{id} ) a
            LEFT JOIN ( SELECT * FROM srp_work_projectaccident ) b ON a.PROJECT_CODE = b.PROJECT_CODE 
            ORDER BY
            b.ACCIDENT_LEVEL 
            ) c 
            GROUP BY
            c.PROJECT_CODE 
            ) d
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCIDENT_LEVEL' ) e ON d.ACCIDENT_LEVEL = e.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCIDENT_HANDLING' ) f ON d.ACCIDENT_HANDLING = f.column_type_code
    </select>
    <select id="getCount6" resultType="int" parameterType="java.lang.String">
        SELECT count(*) cnt from srp_work_kdtb_violationfile where 1=1 and VIOLATION_ORG_ID=#{id}
    </select>
    <select id="getCount7" resultType="int" parameterType="java.lang.String">
        SELECT count(*) cnt from srp_work_negativelistorg where 1=1  and SITEINFO_ID=#{id}
    </select>
    <select id="getCount8" resultType="int" parameterType="java.lang.String">
        SELECT count(*) cnt from srp_work_blacklistorg where 1=1 and SITEINFO_ID=#{id}
    </select>
    <!--/*
     *全网信息联动
     * paramJson:{"id":""}
     * */-->
    <select id="getList9" resultType="map" parameterType="java.lang.String">
        SELECT
            d.column_type_name  DATAREPORT_ORG,
            a.ACCEPT_ORG,
            a.BASICINFO_CONTRACTOR,
            a.REPORT_CARD_BEGINTIME,
            a.REPORT_CARD_ENDTIME,
            b.column_type_name ACCESS_STATE,
            c.column_type_name BREACH_FAITH
            FROM
            ( SELECT * FROM srp_work_outsourcingunit WHERE 1 = 1 and SITEINFO_ID=#{id}) a
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCESS_STATE' ) b ON a.ACCESS_STATE = b.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'BREACH_FAITH' ) c ON a.BREACH_FAITH = c.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) d ON a.DATAREPORT_ORG = d.column_type_code
    </select>
    <select id="getList10" resultType="map" parameterType="java.lang.String">
        SELECT
            c.column_type_name DATAREPORT_ORG,
            a.ACCEPT_ORG,
            a.VIOLATION_ORG,
            d.column_type_name VIOLATION_LEVEL,
            a.VIOLATION_CONTENT,
            b.VIOLATION_ORG_POINTS
            FROM
            ( SELECT * FROM srp_work_kdtb_violationfile WHERE 1 = 1 and VIOLATION_ORG_ID =#{id}) a
            LEFT JOIN ( SELECT * FROM srp_work_orgviolationpenalty ) b ON a.VIOLATION_ORG_ID = b.VIOLATION_ORG_ID
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) c ON a.DATAREPORT_ORG = c.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'VIOLATION_LEVEL' ) d ON a.VIOLATION_LEVEL = d.column_type_code
    </select>
    <select id="getList11" resultType="map" parameterType="java.lang.String">
        SELECT
            g.column_type_name DATAREPORT_ORG,
            d.PROJECT_NAME,
            d.PROJECT_CODE,
            d.cnt,
            e.column_type_name ACCIDENT_LEVEL,
            f.column_type_name ACCIDENT_HANDLING 
            FROM
            (
            SELECT
            *,
            count( c.ACCIDENT_LEVEL ) cnt 
            FROM
            (
            SELECT
            a.DATAREPORT_ORG,
            a.project_name,
            a.project_code,
            b.ACCIDENT_LEVEL,
            b.ACCIDENT_HANDLING 
            FROM
            ( SELECT * FROM srp_work_projectmanagement WHERE 1=1 and CONTRACTOR_ORG_ID =#{id}) a
            LEFT JOIN ( SELECT * FROM srp_work_projectaccident ) b ON a.PROJECT_CODE = b.PROJECT_CODE 
            ORDER BY
            b.ACCIDENT_LEVEL 
            ) c 
            GROUP BY
            c.PROJECT_CODE 
            ) d
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCIDENT_LEVEL' ) e ON d.ACCIDENT_LEVEL = e.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'ACCIDENT_HANDLING' ) f ON d.ACCIDENT_HANDLING = f.column_type_code
            LEFT JOIN ( SELECT * FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) g ON d.DATAREPORT_ORG = g.column_type_code
    </select>

    <!--/*
     *安全能力分析
     * paramJson:{"id":""}
     * */-->
    <select id="getCount9" resultType="int" parameterType="java.lang.String">
        SELECT
            COUNT( * ) cnt 
            FROM
            srp_work_projectaccident 
            WHERE
            PROJECT_CODE IN ( SELECT PROJECT_CODE FROM srp_work_projectmanagement WHERE 1=1 and CONTRACTOR_ORG_ID=#{id})
    </select>
    <select id="getScore" resultType="map" parameterType="java.lang.String">
        SELECT BASICINFO_POINTS FROM srp_work_safety_capability where 1=1 and BASICINFO_CONTRACTOR_ID=#{id}
    </select>
    <select id="getScore1" resultType="map" parameterType="java.lang.String">
        SELECT CERTIFICATE_PHOTO_POINTS FROM srp_work_safety_capability where 1=1 and BASICINFO_CONTRACTOR_ID=#{id}
    </select>
    <select id="getScore2" resultType="map" parameterType="java.lang.String">
        SELECT SAFELEARNING_POINTS FROM srp_work_safety_capability where 1=1  and BASICINFO_CONTRACTOR_ID=#{id}
    </select>
    <select id="getScore3" resultType="map" parameterType="java.lang.String">
        SELECT SAFETYTEST_POINTS FROM srp_work_safety_capability where 1=1  and BASICINFO_CONTRACTOR_ID=#{id}
    </select>

</mapper>