<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raysdata.riskdataanalyzeserver.mapper.ToolMapper">

    <select id="getToolListByType" resultType="java.util.Map">
        SELECT
            b.column_type_name TOOL_TYPE,
            a.CNT
        FROM
            ( SELECT TOOL_TYPE, COUNT( 1 ) CNT FROM srp_ins_basic_kdtb_info GROUP BY TOOL_TYPE ) a
                LEFT JOIN (SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'TOOL_TYPE') b ON a.TOOL_TYPE = b.column_type_code;
    </select>
    <select id="getCurveMap1" resultType="java.util.Map">
        SELECT
        #{CREATE_TIME} time,
            count( CASE WHEN TOOL_TYPE = '0' THEN 1 ELSE NULL END ) as protective ,
            count( CASE WHEN TOOL_TYPE = '1' THEN 1 ELSE NULL END ) as ascend,
            count( CASE WHEN TOOL_TYPE = '2' THEN 1 ELSE NULL END ) as insulation
        FROM
            srp_ins_purplan_kdtb_details
        WHERE
            date_format(CREATE_TIME,'%Y-%m') = #{CREATE_TIME}
    </select>
    <select id="getCurveMap2" resultType="java.util.Map">
        SELECT
            #{CREATE_TIME} time,
	         count( CASE WHEN TOOL_TYPE = '0' THEN 1 ELSE NULL END ) AS protective,
	         count( CASE WHEN TOOL_TYPE = '1' THEN 1 ELSE NULL END ) AS ascend,
	         count( CASE WHEN TOOL_TYPE = '2' THEN 1 ELSE NULL END ) AS insulation
             FROM
            srp_ins_storage_info
        WHERE
            date_format(CREATE_TIME,'%Y-%m') = #{CREATE_TIME}
    </select>

    <select id="getCurveMap3" resultType="java.util.Map">
        SELECT
            #{CREATE_TIME} time,
            count( CASE WHEN TOOL_TYPE = '0' THEN 1 ELSE NULL END ) as protective ,
            count( CASE WHEN TOOL_TYPE = '1' THEN 1 ELSE NULL END ) as ascend,
            count( CASE WHEN TOOL_TYPE = '2' THEN 1 ELSE NULL END ) as insulation
        FROM
            srp_ins_disuse_kdtb_info
        WHERE
            date_format(CREATE_TIME,'%Y-%m') = #{CREATE_TIME}
    </select>
    <select id="getCurveMapByType" resultType="java.util.Map">
        SELECT
        #{CREATE_TIME} time,
            count( CASE WHEN b.TOOL_TYPE = '0' THEN 1 ELSE NULL END ) AS protective,
            count( CASE WHEN b.TOOL_TYPE = '1' THEN 1 ELSE NULL END ) AS ascend,
            count( CASE WHEN b.TOOL_TYPE = '2' THEN 1 ELSE NULL END ) AS insulation
        FROM
            ( SELECT * FROM srp_ins_testdetail_kdtb_info ) a
            LEFT JOIN ( SELECT * FROM srp_ins_basic_kdtb_info ) b
        ON a.srp_ins_basic_info_ID = b.INSBASICINFO_ID
        WHERE
            date_format( a.CREATE_TIME, '%Y-%m' ) = #{CREATE_TIME}
    </select>
    <select id="getWarningCNT" resultType="java.lang.Integer">
        SELECT count(*) cnt FROM srp_ins_basic_kdtb_info
        <where>
            <if test="null != name and '' != name">
                AND NAME like concat("%",#{name},"%")
            </if>
            <if test="null != managementCode and '' != managementCode">
                AND MANAGEMENT_CODE like concat("%",#{managementCode},"%")
            </if>
            <if test="null != dataReportOrg and '' != dataReportOrg">
                AND DATAREPORT_ORG = #{dataReportOrg}
            </if>
            <if test="null != toolType and '' != toolType">
                AND TOOL_TYPE = #{toolType}
            </if>
            <if test="null != insState and '' != insState">
                AND INS_STATE = #{insState}
            </if>
        </where>
    </select>
    <select id="getWarningList" resultType="java.util.Map">
        SELECT
            a.INSBASICINFO_ID id,
            c.column_type_name WARING_LEVEL,
            e.column_type_name DATAREPORT_ORG,
            a.MANAGEMENT_CODE,
            b.column_type_name TOOL_TYPE,
            a.NAME,
            INVOLVEPROJECT involvedProject,
            d.column_type_name INS_STATE
        FROM
        ( SELECT INSBASICINFO_ID,`NAME`,TOOL_TYPE,WARING_LEVEL,INS_STATE,DATAREPORT_ORG,MANAGEMENT_CODE,INVOLVEPROJECT FROM srp_ins_basic_kdtb_info
        <where>
            <if test="null != name and '' != name">
                AND NAME like concat("%",#{name},"%")
            </if>
            <if test="null != managementCode and '' != managementCode">
                AND MANAGEMENT_CODE like concat("%",#{managementCode},"%")
            </if>
            <if test="null != dataReportOrg and '' != dataReportOrg">
                AND DATAREPORT_ORG = #{dataReportOrg}
            </if>
            <if test="null != toolType and '' != toolType">
                AND TOOL_TYPE = #{toolType}
            </if>
            <if test="null != insState and '' != insState">
                AND INS_STATE = #{insState}
            </if>
        </where>
        LIMIT #{offset}, #{pageSize} ) a
            LEFT JOIN ( SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'TOOL_TYPE' ) b ON a.TOOL_TYPE = b.column_type_code
            LEFT JOIN ( SELECT column_type_code,column_type_name FROM srp_risk_sys_tab WHERE column_code = 'WARING_LEVEL' ) c ON a.WARING_LEVEL = c.column_type_code
            LEFT JOIN ( SELECT column_type_code,column_type_name FROM srp_risk_sys_tab WHERE column_code = 'INS_STATE' ) d ON a.INS_STATE = d.column_type_code
            LEFT JOIN ( SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) e ON a.DATAREPORT_ORG = e.column_type_code
    </select>
    <select id="getProductionAndShelfList" resultType="java.util.Map">
        SELECT INSBASICINFO_ID id,INS_RELEASEDATE,INS_SHELFLIFE FROM srp_ins_basic_kdtb_info
        <where>
            <if test="null != name and '' != name">
                AND NAME like concat("%",#{name},"%")
            </if>
            <if test="null != managementCode and '' != managementCode">
                AND MANAGEMENT_CODE like concat("%",#{managementCode},"%")
            </if>
            <if test="null != dataReportOrg and '' != dataReportOrg">
                AND DATAREPORT_ORG = #{dataReportOrg}
            </if>
            <if test="null != toolType and '' != toolType">
                AND TOOL_TYPE = #{toolType}
            </if>
            <if test="null != insState and '' != insState">
                AND INS_STATE = #{insState}
            </if>
        </where>
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getAppraiseCNT" resultType="java.lang.Integer">
        SELECT
        count( * )
        FROM
        ( SELECT * FROM srp_ins_accept_info GROUP BY MAN_CODE ) a
        LEFT JOIN ( SELECT * FROM srp_ins_man_info ) b ON a.MAN_CODE = b.MAN_CODE
        <where>
            <if test="null != manName and '' != manName">
                AND b.MAN_NAME like concat("%",#{manName},"%")
            </if>
            <if test="null != dataReportOrg and '' != dataReportOrg">
                AND a.DATAREPORT_ORG = #{dataReportOrg}
            </if>
        </where>
    </select>
    <select id="getAppraiseList" resultType="java.util.Map">
        SELECT
        DATAREPORT_ORG,
        MAN_NAME,
        MAN_CODE,
        percent
        FROM
            (
        SELECT
            c.column_type_name DATAREPORT_ORG,
            b.MAN_NAME,
            a.MAN_CODE,
            ROUND( a.fail / a.num * 100, 1 ) percent
        FROM
            ( SELECT DATAREPORT_ORG,MAN_CODE, sum( SAM_FAIL_NUM ) fail, sum( SAM_NUM ) num FROM srp_ins_accept_info GROUP BY MAN_CODE ) a
            LEFT JOIN ( SELECT MAN_NAME,MAN_CODE FROM srp_ins_man_info ) b ON a.MAN_CODE = b.MAN_CODE
            LEFT JOIN ( SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) c ON a.DATAREPORT_ORG = c.column_type_code
        <where>
            <if test="null != manName and '' != manName">
                AND b.MAN_NAME like concat("%",#{manName},"%")
            </if>
            <if test="null != dataReportOrg and '' != dataReportOrg">
                AND a.DATAREPORT_ORG = #{dataReportOrg}
            </if>
        </where>
            ) c
        ORDER BY
            c.percent desc
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getTop10List" resultType="java.util.Map">
        SELECT
            b.MAN_NAME,
            ROUND( a.fail / a.num * 100, 1 ) percent
        FROM
            ( SELECT MAN_CODE, sum( SAM_FAIL_NUM ) fail, sum( SAM_NUM ) num FROM srp_ins_accept_info GROUP BY MAN_CODE ) a
            LEFT JOIN ( SELECT * FROM srp_ins_man_info ) b ON a.MAN_CODE = b.MAN_CODE
        ORDER BY
            percent
            LIMIT 10
    </select>
    <select id="getTop10BOTTOMList" resultType="java.util.Map">
        SELECT
            b.MAN_NAME,
            ROUND( a.fail / a.num * 100, 1 ) percent
        FROM
            ( SELECT MAN_CODE, sum( SAM_FAIL_NUM ) fail, sum( SAM_NUM ) num FROM srp_ins_accept_info GROUP BY MAN_CODE ) a
            LEFT JOIN ( SELECT * FROM srp_ins_man_info ) b ON a.MAN_CODE = b.MAN_CODE
        ORDER BY
            percent desc
            LIMIT 10
    </select>
</mapper>