<div class="cube calendar">
	<!-- ko if: showCalendar()==1 -->
		<div class="calendar-top">
			<table>
				<tr>
					<td data-bind="click:showPre" class="calendar-caption calendar-arrow">
						<div>
	                        	<span class="icon-chevron-left" aria-hidden="false"></span>
	                    </div>
					</td>
					<td data-bind="click: changeShowState ,css:{'calendar-caption' : showMonthPicker()}">
						<div data-bind="text: titleText"></div>
					</td>
					<td data-bind="click:showNext" class="calendar-caption calendar-arrow">
						<div>
						<span class="icon-chevron-right" aria-hidden="false"></span></div>
					</td>
				</tr>
			</table>
		</div>
		<table>
			<tr data-bind="if: showState()==0 && showDayPicker() && !showQuarterPicker()">
				<td>
					<table class="calendar-weekday">
						<tr data-bind="foreach:isWest()?westWeekDays():weekDays()">
							<td>
								<div data-bind="text: $data"></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- ko if: showState()==0 && showDayPicker() && !showQuarterPicker() -->
			<tr>
				<td class="calendar-cell calendar-cell-day">
					 <table>
						<tbody data-bind="foreach: DateItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectDay,event:{dblclick: selectDayAndClose,mouseover: showHover,mouseout: hiddenHover},text: day, css:{'calendar-cell-othermonth':monthInd()!=0,'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover,'calendar-cell-disable':disable}">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
			
			<!-- ko if: showState()==1  && showMonthPicker() && !showQuarterPicker()-->
			<tr>
				<td class="calendar-cell calendar-cell-other">
					 <table>
						<tbody data-bind="foreach: MonthItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectMonth,event:{mouseover: showHover,mouseout: hiddenHover},text: monthName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
			
			<!-- ko if:  showState()==3 && showQuarterPicker()-->
			<tr>
				<td class="calendar-cell calendar-cell-other">
					 <table>
						<tbody data-bind="foreach: QuarterItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectQuarter,event:{mouseover: showHover,mouseout: hiddenHover},text: quarterName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
			
			<!-- ko if: showState()==2 -->
			<tr>
				<td class="calendar-cell calendar-cell-other">
					 <table>
						<tbody data-bind="foreach: YearItems">
							<tr data-bind="foreach: $data">
								<td data-bind="click: selectYear,event:{mouseover: showHover,mouseout: hiddenHover},text: yearName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- /ko -->
		</table>
	<!-- /ko -->
	
	
	<!-- ko if: showCalendar()==0 -->
		<!-- ko if: timePickType()==1 -->
		<div class="calendar-cell calendar-cell-time">
			 <table>
				<tbody data-bind="foreach: HourItems">
					<tr data-bind="foreach: $data">
						<td data-bind="click: selectHour,event:{mouseover: showHover,mouseout: hiddenHover},text: hourName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	    <!-- /ko -->
	    <!-- ko if: timePickType()==2 -->
		<div class="calendar-cell calendar-cell-time">
			 <table>
				<tbody data-bind="foreach: MinuteItems">
					<tr data-bind="foreach: $data">
						<td data-bind="click: selectMinute,event:{mouseover: showHover,mouseout: hiddenHover},text: minuteName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	    <!-- /ko -->
	    <!-- ko if: timePickType()==3 -->
		<div class="calendar-cell calendar-cell-time">
			 <table>
				<tbody data-bind="foreach: MinuteItems">
					<tr data-bind="foreach: $data">
						<td data-bind="click: selectSecond,event:{mouseover: showHover,mouseout: hiddenHover},text: minuteName, css:{'calendar-cell-selected':isSelect,'calendar-cell-hover':isHover}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /ko -->
    <!-- /ko -->
   
	<div class="calendar-time">
			<!-- ko if:showTimePicker() -->
			<table>
				<tr>
					<td><div data-bind="click: onHourClick, text: hour"></div></td>
					<td>
							<span data-bind="click: hourUp" class="icon-chevron-up" aria-hidden="false"></span>
							<span data-bind="click: hourDown" class="icon-chevron-down" aria-hidden="false"></span>
					</td>
					<td>:</td>
					<td><div data-bind="click: onMinuteClick, text: minute"></div></td>
					<td>
							<span data-bind="click: minuteUp" class="icon-chevron-up" aria-hidden="false"></span>
							<span data-bind="click: minuteDown" class="icon-chevron-down" aria-hidden="false"></span>
					</td>
					<td>:</td>
					<td><div data-bind="click: onSecondClick, text: second"></div></td>
					<td>
							<span data-bind="click: secondUp" class="icon-chevron-up" aria-hidden="false"></span>
							<span data-bind="click: secondDown" class="icon-chevron-down" aria-hidden="false"></span>
					</td>
					<td><div></div></td>
					<td><span></span></td>
				</tr>
			</table>
			<!-- /ko -->
	</div>
</div>



