<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.UserMapper">
    <select id="findUser" resultType="com.msb.pojo.User">
        SELECT
            `name`,
            ( SELECT paravalue FROM sys_parameter p WHERE u.gsType = p.parakey AND paratype = 'company' ) AS gsType
        FROM
            sys_user u
    </select>
</mapper>