<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.UserMapper">
    <select id="findUser" resultType="com.msb.pojo.User">
        SELECT
            login_name loginName,
            login_password loginPassword,
            login_date loginDate,
            `name`,
            ( SELECT paravalue FROM sys_parameter p WHERE u.gsType = p.parakey AND paratype = 'company') AS gsType,
            phone
        FROM
            sys_user u
        WHERE u.name=#{user.name}
            limit #{start},#{pageSize}
    </select>
</mapper>