.table thead tr th {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
    background: #1B6B9D;
}
.table-bordered tr {
    background: #092A6F;
    color: white;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
    background: #092A6F;
    color: white;
}
.table tbody tr.info > td,.table-hover tbody tr.info:hover > td{
    background: #092A6F;
    color: white;
}
body {
    width: 100%;
}

.left-230 {
    left: 230px;
}

.left-460 {
    left: 460px;
}

.right-0 {
    right: 0;
}

.right-230 {
    right: 230px;
}

.right-460 {
    right: 460px;
}

.bor {
    border: 1px solid #199ED8;
}

.row-public {
    width: 100%;
    *zoom: 1;
}

.row-public:before,
.row-public:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-public:after {
    clear: both;
}

.row-public [class*="col-"] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.row-public .col-1 {
    float: left;
    width: 8.33333333% !important;
}

.row-public .col-2 {
    float: left;
    width: 16.66666666% !important;
}

.row-public .col-3 {
    float: left;
    width: 25% !important;
}

.row-public .col-4 {
    float: left;
    width: 33.33333333% !important;
}

.row-public .col-5 {
    float: left;
    width: 41.66666666% !important;
}

.row-public .col-6 {
    float: left;
    width: 50% !important;
}

.row-public .col-7 {
    float: left;
    width: 58.33333333% !important;
}

.row-public .col-8 {
    float: left;
    width: 66.66666666% !important;
}

.row-public .col-9 {
    float: left;
    width: 75% !important;
}

.row-public .col-10 {
    float: left;
    width: 83.33333333% !important;
}

.row-public .col-11 {
    float: left;
    width: 91.66666666% !important;
}

.row-public .col-12 {
    float: left;
    width: 100% !important;
}

.cur-p {
    cursor: pointer;
}

.pa {
    position: absolute !important;
}

.pr {
    position: relative !important;
}

.text-white {
    color: #fff;
}

.mar-b-30 {
    margin-bottom: 30px;
}

.fr {
    float: right;
}
.dis-in-block {
    display: inline-block;
}