<div class="cube container-fluid" data-bind="style: {width:width, height:height}">
	<!-- ko foreach: { data: items, as: 'item' } -->
	<div class="row-fluid">
		<!-- ko foreach: item -->
		<div data-bind="attr:{'class':'span'+(typeof(colspan)!='undefined'?colspan:1)},
			style:{width: typeof(width)!='undefined'?width:null,height: typeof(height)!='undefined'?height:null}">
			<!-- ko if: typeof(content)!='undefined' -->
				<div data-bind="html: content"></div>
			<!-- /ko -->
			<!-- ko if: typeof(content)=='undefined' && typeof(templateOptions)!='undefined' -->
				<!-- ko component: templateOptions --><!-- /ko -->
			<!-- /ko -->
		</div>
		<!-- /ko -->
	</div>
	<!-- /ko -->
</div>