<!-- ko if: animatShowBck-->
<div style="display: block;top:20%;"
	data-bind="attr:{'class': 'cube modal hide fade msgdialog ' + msgType()},event:{mouseout: function(data,event){mouseout($element,event)}},style:{zIndex: zIndex()},css:{'in': animatShowDialog}">
	<div class="modal-header" data-bind="event:{mousedown:headmousedown,mouseup:headmouseup}">
		<h3>
			<!-- ko if: isShowCancelBtn -->
			<button type="button" class="close" data-bind="event:{mousedown: disableMsgDlg}, mousedownBubble:false">×</button>
			<!-- /ko -->
			<i data-bind="css:{'icon-warning-sign': msgType()=='warning','icon-info-sign': msgType()=='info', 'icon-question-sign': msgType()=='confirm','icon-remove-sign':msgType()=='error'}"></i>
			<span data-bind="text: title"></span>
		</h3>
	</div>
	<!-- ko if: typeof(content)!="undefined" -->
		<div class="modal-body" data-bind="html:content">
		</div>
	<!-- /ko -->
	<!-- ko if: typeof(content)=="undefined" && typeof(templateOptions)!="undefined"-->
		<div class="modal-body" data-bind="component: templateOptions"></div>
	<!-- /ko -->
	<!-- ko if: msgType() == "confirm" -->
	<div class="modal-footer">
		<!-- ko if:reverseBtn -->
			<button class="btn btn-primary" data-bind="text:cube.msg('CONFIRM'), click: confirmDialog">确定</button>
			<!-- ko if: isShowCancelBtn -->
			<button class="btn" data-bind="text:cube.msg('CANCEL'), click: disableMsgDlg">取消</button>
			<!-- /ko -->
		<!-- /ko -->
		<!-- ko ifnot:reverseBtn -->
			<!-- ko if: isShowCancelBtn -->
			<button class="btn" data-bind="text:cube.msg('CANCEL'), click: disableMsgDlg">取消</button>
			<!-- /ko -->
			<button class="btn btn-primary" data-bind="text:cube.msg('CONFIRM'), click: confirmDialog">确定</button>
		<!-- /ko -->
	</div>
	<!-- /ko -->
</div>
<!-- ko if: msgType() == "confirm" -->
<div class="modal-backdrop fade" data-bind="css:{'in': animatShowBck},style:{zIndex: zIndex()-10}"></div>
<!-- /ko -->
<!-- /ko -->