

<div  data-bind="style:{
						background: _bgcolor, border: border, 
						width: (_width()?_width():'auto'), 
						height: _height(), 
 						lineHeight: (_height()?_height():'auto'),
 						borderRadius: (_height()?_height():'auto')
 						},
 				css:{'disabled': disabled},
 				event:{click:_onclick},
 				attr:{'class': 'switch '+_type()}" >
 				
	<input type = "hidden" data-bind=  "value: _value"></input>
	<span class = "switch-inner" data-bind="style:{left: _textleft()}">
		<span data-bind="text: _text"></span>
	</span>
	<div data-bind="style:{ width: (_sliph()?_sliph():'auto'), 
					height: (_sliph()?_sliph():'auto'), 
					background: _slipbg}" 
					class="switch-slip">
	</div>
</div>