<div class="cube" data-bind="css:{'navbar': isList() == false, 'navlistbar': isList},style:{width:width()}">
	<div class="navbar-inner">
		<ul class="nav cmenu" data-bind="css:{'nav-list': isList()&&!isHorizontalChildren(), 'dropdown-horizontal': isList()&&isHorizontalChildren(), 'nav-pills': !isList()}">
			<!-- ko foreach: menuItems -->
			<li data-bind="attr:{code:typeof(code)!='undefined'?code:''},event:{mouseenter:$parent.openSubItems,mouseleave:$parent.closeSubItems},
							css:{'dropdown':  typeof(hasChildren)!='undefined' && hasChildren, 
								'open': (typeof(hasChildren)!='undefined' && hasChildren && $parent.hoverItem()!=null && $parent.hoverItem().route==route) || (typeof(expanded)!='undefined' && expanded)}">
				<a href='#' data-bind="css:{'dropdown-toggle': typeof(hasChildren)!='undefined' && hasChildren},
						click:$parent.selectMenuItem,
						attr:{href: route,'data-toggle': typeof(hasChildren)!='undefined' && hasChildren?'dropdown':''}">
					<!-- ko if: typeof(icon) != "undefined" -->
					<span  data-bind='attr:{"class":"icon icon-"+icon}'></span>
					<!-- /ko -->
					<span data-bind="text: text"></span>
					<!-- ko if: $parent.isList() -->
               			<b class="cube-caret-right" data-bind="visible: typeof(hasChildren)!='undefined' && hasChildren"></b>
               		<!-- /ko -->
               		<!-- ko ifnot: $parent.isList() -->
						<b class="caret bottom-up" data-bind="visible: typeof(hasChildren)!='undefined' && hasChildren"></b>
					<!-- /ko -->
				</a>
				
				<!-- ko if: typeof(hasChildren)!='undefined' && hasChildren -->
					<!-- ko if: !$parent.isHorizontalChildren() || $parent.isList() -->
						<div data-bind='component:{name: "submenutmpl", params: {isList:$parent.isList,isHorizontalChildren:$parent.isHorizontalChildren,hoverItem:$parent.hoverItem,parentItem: $data,children: children, selectMenuItem: $parent.selectMenuItem}}'></div>
					<!-- /ko -->
				<!-- /ko -->
			</li>
			<!-- /ko -->
		</ul>
	</div>
</div>
<!-- ko if: !isList() && isHorizontalChildren() && hoverItem()!=null-->
<div data-bind="css:{'toolbarmenuopen': hoverItem()!=null}">
	<ul class="toolbar-menu" data-bind="foreach: hoverItem().children">
			<!-- ko if:text=='-' -->
			<li class="divider">|</li>
			<!-- /ko -->
			<!-- ko if:!(text=='-') -->
			<li data-bind="attr:{code:typeof(code)!='undefined'?code:''}">
				<a data-bind="attr:{href: typeof(route)!='undefined'?route:'#'},click: $parents[1].selectMenuItem">
					<!-- ko if: typeof(icon) != "undefined" -->
					<span data-bind='attr:{"class":"icon-"+icon}'></span>
					<!-- /ko -->
					<span data-bind="text: text"></span>
				</a>
			</li>
			<!-- /ko -->
	</ul>
</div>
<!-- /ko -->