<div class="cube btn-group dropdowneditor dropdowntreeeditor"
	data-bind="css:{'open': isShowDropdownOptions},attr:{'readOnly': readOnly}" >
	
	<div class="input-append">
		<input  type="text" data-bind="hasFocus: hasFocus, textInput: _checkText()||isAllowEdit()?_checkText:'请选择',
			event:{click:function(data,event){ doClickDropdownOptions($element,event)}},
			attr:{disabled: disabled,readOnly:!isAllowEdit()},
			style:{width: width,textAlign: textAlign}" />
		<button type="button" class="btn dropdown-toggle split-toggle" data-toggle="dropdown" data-bind="attr:{disabled: disabled},
			event:{click:function(data,event){ doClickDropdownOptions($element,event)}}">
	   		<span class="caret" data-bind=""></span>
	 	</button>
 	</div>
  	
	<div class="dropdown-menu" style="outline:none;" tabIndex='1' 
		data-bind=" hasFocus: dropdownFocus,event:{
			mouseover: mouseoverPopoverDialog, 
			mousedown: mousedownInnerPopoverDialog,
			blur: doCloseDropdownOptions
		},
		css:{'dropdown-scroll':isShowScroll},
		style:{width: width()!='auto'?width:null, minWidth: width()!='auto'?width:null, maxHeight: dropdownMenuHeight()!='auto'?dropdownMenuHeight:null}">
		<!-- ko component:{
			name: 'tree',
			params: treeOptions()
		}--> <!-- /ko -->
	</div>
</div>