<div class="cube file-input">
	<!-- ko if: type()=="grid" -->
	 	<div class="input-group">
	 		<!-- ko if: isShowControl -->
			<div tabindex="500"
				class="form-control file-caption  kv-fileinput-caption">
				<div class="file-caption-name">
					<span class="glyphicon icon-file kv-caption-icon" data-bind="text: cube.msg('UPLOAD_COUNT',_items().length)+','+cube.msg('NOTUPLOAD')+'('+_unuploadCount()+')'"></span>
				</div>
			</div>
	
			<div class="input-group-btn">
				<div data-bind='click: showDialog' tabindex="500" class="btn btn-primary btn-file">
					<span class="hidden-xs">…</span>
				</div>
			</div>
			<!-- /ko -->
		</div>
		
		<!-- ko ifnot: isShowControl -->
		<div class="grid-progress">
			<!-- ko if: _unuploadCount() == 0 -->
				<!-- ko foreach: { data: _items }-->
						<a href="" class="file-footer-caption" data-bind = "text:name, attr:{title:name}, click:$parent.downloadFile"></a>
				<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: _unuploadCount() > 0 -->
				<div class="file-thumb-progress">
					<div class="progress">
						<div
							class="progress-bar progress-bar-success active progress-bar-striped"
							role="progressbar" aria-valuenow="0" aria-valuemin="0"
							aria-valuemax="100" data-bind="style:{width:progress}">
								<!-- ko text:progress --> <!-- /ko -->
							</div>
					</div>
				</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->
		
		
		<!-- ko if: animatShowDialog -->
		<div class="cube modal fade" style="display: block;"  data-bind="css:{'in': animatShowDialog}">
			<div class="modal-header">
				<button type="button" class="close" style="display: block;" data-bind="click:closeDialog">×</button>
				<h3>文件上传</h3>
			</div> 
				<div class="modal-body"> 
					<!-- ko if: isShowPreview() && (_items().length > 0 ||  _showErrorMessage()) -->
					<div class="file-preview">
						<!-- ko if: !previewModel() -->
						<div class="close fileinput-remove" data-bind="click:hidePreview">×</div>
						<!-- /ko -->
						<div data-bind="css:{'hide-thumbnail':!isShowThumbnail(),'file-drop-zone':!previewModel(), 'file-preview-small': previewSize()=='small', 'file-preview-mini': previewSize()=='mini'}">
							<div class="file-preview-thumbnails">
							   	<!-- ko foreach: { data: _items }-->
								<div class="file-preview-frame" id="preview-1456813948231-0"
									data-bind="attr:{title:name,'data-fileindex':index},css:{'file-uploading':status()==cube.msg('UPLOADING')}">
									<!-- ko if: $parent.isShowThumbnail() -->
									<div class="file-preview-other-frame">
										<!-- ko ifnot: isImage -->
										<div class="file-preview-other">
											<span class="file-icon-4x"><i
												class="fa text-warning" data-bind="css:css"></i></span>
										</div>
										<!-- /ko -->
										<!-- ko if: isImage -->
											<!-- ko if: isIE -->
												<div class="file-preview-image" data-bind="html: view"></div>
											 <!-- /ko -->
											 <!-- ko if: !isIE -->
											 	<img class="file-preview-image" data-bind="attr:{src:src,title:name}">
											 <!-- /ko -->
										 <!-- /ko -->
									</div>
									<!-- /ko -->
									<!-- ko if: !$parent.previewModel() -->
									<div class="file-preview-other-footer">
										<div class="file-thumbnail-footer">
											<div class="file-footer-caption" data-bind = "text:name, attr:{title:name}"></div>
											<div class="file-thumb-progress" data-bind="css:{hide:status()==cube.msg('NOTUPLOAD')}">
												<div class="progress">
													<div
														class="progress-bar progress-bar-success active"
														role="progressbar" aria-valuenow="0" aria-valuemin="0"
														aria-valuemax="100" data-bind="style:{width:progress}, css:{'progress-bar-striped':status()==cube.msg('UPLOADING')}">
															<!-- ko text:progress --> <!-- /ko -->
														</div>
												</div>
											</div>
											<div class="file-actions">
												<div class="file-footer-buttons">
													<!-- ko if: $parent.isShowUploadButton() -->
													<button type="button"
														class="kv-file-upload btn btn-xs btn-default"
														data-bind="click:$parent.uploadFile,css:{hide:(status()==cube.msg('UPLOADED') || status()==cube.msg('DELETEFAIL'))},attr:{title:cube.msg('UPLOAD'),disabled:status()==cube.msg('UPLOADING')}">
														<i class="glyphicon icon-upload text-info"></i>
													</button>
													 <!-- /ko -->
													  <!-- ko if: $parent.isShowDownloadButton() -->
													<button type="button"
														class="kv-file-upload btn btn-xs btn-default"
														data-bind="click:$parent.downloadFile,css:{hide:status()==cube.msg('UPLOADING')||status()==cube.msg('NOTUPLOAD')||status()==cube.msg('UPLOADFAIL')||status()==cube.msg('UPLOADCACEL')},attr:{title:cube.msg('DOWNLOAD')}">
														<i class="glyphicon icon-download text-success"></i>
													</button>
													 <!-- /ko -->
													 <!-- ko if: $parent.isShowRemoveButton() -->
													<button type="button"
														class="kv-file-remove btn btn-xs btn-default" 
														data-bind="click:$parent.removeFile,attr:{disabled:status()==cube.msg('UPLOADING')},attr:{title:cube.msg('DELETE'),disabled: $parent.readOnly}">
														<i class="glyphicon icon-trash text-danger"></i>
													</button>
													 <!-- /ko -->
												</div>
												<div class="file-upload-indicator">
													<i class="glyphicon text-warning" data-bind="text:status"></i>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									 <!-- /ko -->
								</div>
								<!-- /ko -->
							</div>
							<div class="clearfix"></div>
							<div class="file-preview-status text-center text-success"></div>
							<div class="kv-fileinput-error file-error-message"
								data-bind="style:{display:_showErrorMessage()?'':'none'}">
								<!-- ko foreach: { data: _validitems }-->
									<div data-bind="text:name+'：'+msg"></div>
								<!-- /ko -->
							</div>
						</div>
					</div>
					<!-- /ko -->
				</div>
			<div class="modal-footer">
				<div class="input-group-btn">
					<!-- ko if: !isIE() -->
					<div data-bind='attr:{"id": id}' tabindex="500" class="btn btn-warning  btn-file">
						<span
							class="hidden-xs">添加</span><input id="input-ficons-1"
							name="inputficons1[]" multiple="" type="file" class="" data-bind="event:{change: fileChange},attr:{disabled: readOnly, accept: _fileAccept}">
					</div>
					<!-- /ko -->
					
					<!-- ko if: isIE() -->
					<iframe id="myfrm" width=0 height=0 frameBorder=0 src="about:blank" name="myfrm"></iframe>
					<form data-bind='attr:{"id": id}' enctype='multipart/form-data' target='myfrm' method='post' style="display:inline-block;">
						<div tabindex="500" class="btn btn-warning  btn-file">
							<div id="_fileSelectionHiddenArea" style="width:1px;height:1px;"></div>
							<i class="glyphicon icon-folder-open"></i>&nbsp; <span
								class="hidden-xs">添加</span>
								<input type="file" name="file" id="file_1" data-bind="event:{change: fileChange},attr:{disabled: readOnly, accept: _fileAccept}">
								<!-- ko foreach: { data: _files, as: 'file' }-->
									<div data-bind="html: file"></div>
								<!-- /ko -->
								
						</div>
					</form>
					<!-- /ko -->
					<button class="btn btn-warning fileinput-upload-button" data-bind="click:uploadFiles,attr:{disabled: readOnly},text:cube.msg('UPLOAD')">上传</button>
					<button class="btn btn-warning fileinput-close-button" data-bind="click:closeDialog,text:cube.msg('CLOSE')">关闭</button>
				</div>
			</div>
		</div>
		<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: type()!="grid" -->
	    <!-- ko if: isShowPreview() && (_items().length > 0 ||  _showErrorMessage()) -->
		<div class="file-preview">
			<!-- ko if: !previewModel() -->
			<div class="close fileinput-remove" data-bind="click:hidePreview">×</div>
			<!-- /ko -->
			<div data-bind="css:{'hide-thumbnail':!isShowThumbnail(),'file-drop-zone':!previewModel(), 'file-preview-small': previewSize()=='small', 'file-preview-mini': previewSize()=='mini'}">
				<div class="file-preview-thumbnails">
				   	<!-- ko foreach: { data: _items }-->
					<div class="file-preview-frame" id="preview-1456813948231-0"
						data-bind="attr:{title:name,'data-fileindex':index},css:{'file-uploading':status()==cube.msg('UPLOADING')}">
						<!-- ko if: $parent.isShowThumbnail() -->
						<div class="file-preview-other-frame">
							<!-- ko ifnot: isImage -->
							<div class="file-preview-other">
								<span class="file-icon-4x"><i
									class="fa text-warning" data-bind="css:css"></i></span>
							</div>
							<!-- /ko -->
							<!-- ko if: isImage -->
								<!-- ko if: isIE -->
									<div class="file-preview-image" data-bind="html: view"></div>
								 <!-- /ko -->
								 <!-- ko if: !isIE -->
								 	<img class="file-preview-image" data-bind="attr:{src:src,title:name}">
								 <!-- /ko -->
							 <!-- /ko -->
						</div>
						<!-- /ko -->
						<!-- ko if: !$parent.previewModel() -->
						<div class="file-preview-other-footer">
							<div class="file-thumbnail-footer">
								<div class="file-footer-caption" data-bind = "text:name, attr:{title:name}"></div>
								<div class="file-thumb-progress" data-bind="css:{hide:status()==cube.msg('NOTUPLOAD')}">
									<div class="progress">
										<div
											class="progress-bar progress-bar-success active"
											role="progressbar" aria-valuenow="0" aria-valuemin="0"
											aria-valuemax="100" data-bind="style:{width:progress}, css:{'progress-bar-striped':status()==cube.msg('UPLOADING')}">
												<!-- ko text:progress --> <!-- /ko -->
											</div>
									</div>
								</div>
								<div class="file-actions">
									<div class="file-footer-buttons">
										<!-- ko if: $parent.isShowUploadButton() -->
										<button type="button"
											class="kv-file-upload btn btn-xs btn-default"
											data-bind="click:$parent.uploadFile,css:{hide:(status()==cube.msg('UPLOADED') || status()==cube.msg('DELETEFAIL'))},attr:{title:cube.msg('UPLOAD'),disabled:status()==cube.msg('UPLOADING')}">
											<i class="glyphicon icon-upload text-info"></i>
										</button>
										 <!-- /ko -->
										  <!-- ko if: $parent.isShowDownloadButton() -->
										<button type="button"
											class="kv-file-upload btn btn-xs btn-default"
											data-bind="click:$parent.downloadFile,css:{hide:status()==cube.msg('UPLOADING')||status()==cube.msg('NOTUPLOAD')||status()==cube.msg('UPLOADFAIL')||status()==cube.msg('UPLOADCACEL')},attr:{title:cube.msg('DOWNLOAD')}">
											<i class="glyphicon icon-download text-success"></i>
										</button>
										 <!-- /ko -->
										 <!-- ko if: $parent.isShowRemoveButton() -->
										<button type="button"
											class="kv-file-remove btn btn-xs btn-default" 
											data-bind="click:$parent.removeFile,attr:{disabled:status()==cube.msg('UPLOADING')},attr:{title:cube.msg('DELETE'),disabled: $parent.readOnly}">
											<i class="glyphicon icon-trash text-danger"></i>
										</button>
										 <!-- /ko -->
									</div>
									<div class="file-upload-indicator">
										<i class="glyphicon text-warning" data-bind="text:status"></i>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						 <!-- /ko -->
					</div>
					<!-- /ko -->
				</div>
				<div class="clearfix"></div>
				<div class="file-preview-status text-center text-success"></div>
				<div class="kv-fileinput-error file-error-message"
					data-bind="style:{display:_showErrorMessage()?'':'none'}">
					<!-- ko foreach: { data: _validitems }-->
						<div data-bind="text:name+'：'+msg"></div>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<!-- /ko -->
		<!-- ko if: !previewModel() -->
		<div class="kv-upload-progress hide">
			<div class="progress">
				<div
					class="progress-bar progress-bar-success progress-bar-striped active"
					role="progressbar" aria-valuenow="0" aria-valuemin="0"
					aria-valuemax="100" style="width: 0%;">0%</div>
			</div>
		</div>
		<div class="input-group ">
			<div tabindex="500"
				class="form-control file-caption  kv-fileinput-caption">
				<div class="file-caption-name">
					<span class="glyphicon icon-file kv-caption-icon" data-bind="text: cube.msg('UPLOAD_COUNT',_items().length)+','+cube.msg('NOTUPLOAD')+'('+_unuploadCount()+')'"></span>
				</div>
			</div>
	
			<div class="input-group-btn">
				<!-- ko if: isShowRemoveButton() -->
				<button type="button" tabindex="500" 
					title="删除全部文件"
					class="btn btn-default fileinput-remove fileinput-remove-button"
					data-bind="click:clearFiles,attr:{disabled: readOnly}">
					<i class="glyphicon icon-trash"></i> <span class="hidden-xs" data-bind="text:cube.msg('DELETE')">删除</span>
				</button>
				<!-- /ko -->
				<button type="button" tabindex="500" 
					class="btn btn-default hide fileinput-cancel fileinput-cancel-button">
					<i class="glyphicon icon-ban-circle"></i> <span class="hidden-xs" data-bind="text:cube.msg('CANCEL')">取消</span>
				</button>
				<!-- ko if: isShowUploadButton() -->
				<a href="javascript:void()" tabindex="500"
					title="上传全部文件"
					class="btn btn-default fileinput-upload fileinput-upload-button"
					data-bind="click:uploadFiles,attr:{disabled: readOnly}">
					<i class="glyphicon icon-upload"></i><span class="hidden-xs" data-bind="text:cube.msg('UPLOAD')">上传</span></a>
				<!-- /ko -->
				<!-- ko if: !isIE() -->
				<div data-bind='attr:{"id": id}' tabindex="500" class="btn btn-primary btn-file">
				<i class="glyphicon icon-folder-open"></i>&nbsp; <span
					class="hidden-xs" data-bind="text:cube.msg('BROWSE')">浏览 …</span><input id="input-ficons-1"
					name="inputficons1[]" multiple="" type="file" class="" data-bind="event:{change: fileChange},attr:{disabled: readOnly, accept: _fileAccept}">
				</div>
				<!-- /ko -->
				
				<!-- ko if: isIE() -->
				<iframe id="myfrm" width=0 height=0 frameBorder=0 src="about:blank" name="myfrm"></iframe>
				<form data-bind='attr:{"id": id}' enctype='multipart/form-data' target='myfrm' method='post' style="display:inline-block;">
					<div tabindex="500" class="btn btn-primary btn-file">
						<div id="_fileSelectionHiddenArea" style="width:1px;height:1px;"></div>
						<i class="glyphicon icon-folder-open"></i>&nbsp; <span
							class="hidden-xs" data-bind="text:cube.msg('BROWSE')">浏览 …</span>
							<input type="file" name="file" id="file_1" data-bind="event:{change: fileChange},attr:{disabled: readOnly, accept: _fileAccept}">
							<!-- ko foreach: { data: _files, as: 'file' }-->
								<div data-bind="html: file"></div>
							<!-- /ko -->
							
					</div>
				</form>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
	<!-- /ko -->
</div>