<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.mapper.WycorporateMapper">
  <resultMap id="BaseResultMap" type="com.property.entity.Wycorporate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="corporatename" jdbcType="VARCHAR" property="corporatename" />
  </resultMap>

</mapper>