<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.mapper.WydutyrecordMapper">
    <resultMap id="BaseResultMap" type="com.property.entity.Wydutyrecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="timestamp" jdbcType="VARCHAR" property="timestamp"/>
        <result column="frequency" jdbcType="VARCHAR" property="frequency"/>
        <result column="events" jdbcType="VARCHAR" property="events"/>
        <result column="gatekeeper" jdbcType="VARCHAR" property="gatekeeper"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
    </resultMap>


    <!--添加值班记录-->
    <insert id="addDutyRecord" parameterType="Wydutyrecord">
        INSERT INTO wy_dutyrecord (
            timestamp,frequency,events,gatekeeper
        )VALUES (
            #{timestamp},#{frequency},#{events},#{gatekeeper}
        )
    </insert>

    <!--查询值班记录-->
    <select id="getDutyRecord" resultType="Wydutyrecord">
        SELECT
        a.id,
        a.timestamp,
        b.paravalue frequency,
        a.events,
        c.name gatekeeper
        FROM
        wy_dutyrecord a
        LEFT JOIN ( SELECT * FROM wy_dictionaries WHERE paraname = 'frequency' ) b ON a.frequency = b.parakey
        LEFT JOIN wy_person c ON a.gatekeeper = c.id
        WHERE 1 = 1
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            AND STR_TO_DATE(a.timestamp,'%Y-%m-%d') between STR_TO_DATE(#{beginTime},'%Y-%m-%d') and
            STR_TO_DATE(#{endTime},'%Y-%m-%d')
        </if>
        <if test="frequency != null and frequency != ''">
            AND a.frequency = #{frequency}
        </if>
        <if test="person != null and person != ''">
            <bind name="Person" value="'%' + person + '%'"/>
            AND c.name like #{Person}
        </if>
        limit #{index},#{pageSize}
    </select>

    <!--查询值班记录数量-->
    <select id="getDutyRecordCnt" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        wy_dutyrecord a
        LEFT JOIN ( SELECT * FROM wy_dictionaries WHERE paraname = 'frequency' ) b ON a.frequency = b.parakey
        LEFT JOIN wy_person c ON a.gatekeeper = c.id
        WHERE 1 = 1
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            AND STR_TO_DATE(a.timestamp,'%Y-%m-%d') between STR_TO_DATE(#{beginTime},'%Y-%m-%d') and
            STR_TO_DATE(#{endTime},'%Y-%m-%d')
        </if>
        <if test="frequency != null and frequency != ''">
            AND a.frequency = #{frequency}
        </if>
        <if test="person != null and person != ''">
            <bind name="Person" value="'%' + person + '%'"/>
            AND c.name like #{Person}
        </if>
    </select>

    <!--查询人员-->
    <select id="getPerson" resultType="java.util.LinkedHashMap">
        SELECT
        id,
        name
        FROM
        wy_person
        WHERE
        1 = 1
        <if test="isGate != null and isGate != ''">
            AND isgate = #{isGate}
        </if>
    </select>

    <!--查询字典表-->
    <select id="dictionaries" resultType="java.util.LinkedHashMap">
        SELECT * FROM wy_dictionaries
    </select>
</mapper>