<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.mapper.WyspacemanagementMapper">
    <resultMap id="WyspacemanagementMapper" type="com.property.entity.Wyspacemanagement">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="suppliername" jdbcType="VARCHAR" property="suppliername"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="contactperson" jdbcType="VARCHAR" property="contactperson"/>
        <result column="batch" jdbcType="VARCHAR" property="batch"/>
        <result column="attr1" jdbcType="VARCHAR" property="attr1"/>
        <result column="attr2" jdbcType="VARCHAR" property="attr2"/>
        <result column="attr3" jdbcType="VARCHAR" property="attr3"/>
    </resultMap>
    <!--获取供应商数量-->
    <select id="getWyspacemanagementCnt" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        ( SELECT * FROM wy_spacemanagement ) a
        WHERE
        1=1
        <if test="suppliername != null and suppliername != ''">
            <bind name="Suppliername" value="'%'+ suppliername + '%'"/>
            AND a.suppliername like #{Suppliername}
        </if>
        <if test="attr1 != null and attr1 != ''">
            AND a.attr1 in (${attr1})
        </if>
    </select>
    <!--获取供应商列表数据-->
    <select id="getWyspacemanagementList" resultType="java.util.LinkedHashMap">
        SELECT
        a.id,
        a.suppliername,
        a.code,
        a.contacts,
        a.contactperson,
        a.batch
        FROM
        ( SELECT * FROM wy_spacemanagement ) a
        WHERE
        1=1
        <if test="suppliername != null and suppliername != ''">
            <bind name="Suppliername" value="'%'+ suppliername + '%'"/>
            AND a.suppliername like #{Suppliername}
        </if>
        <if test="attr1 != null and attr1 != ''">
            AND a.attr1 in (${attr1})
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!--查询植被列表数量-->
    <select id="getvegetationtCnt" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        ( SELECT * FROM wy_spacemanagement ) a
        LEFT JOIN ( SELECT * FROM wy_vegetation ) b ON a.id = b.spacemanagementId
        WHERE
        1=1
        <if test="id != null and id != ''">
            <bind name="Id" value="'%'+ id + '%'"/>
            AND a.id like #{Id}
        </if>
    </select>
    <!--获取查询植被数据-->
    <select id="getvegetationtList" resultType="java.util.LinkedHashMap">
        SELECT
        b.vegetationname,
        b.number,
        b.company,
        b.introduction
        FROM
        ( SELECT * FROM wy_spacemanagement ) a
        LEFT JOIN ( SELECT * FROM wy_vegetation ) b ON a.id = b.spacemanagementId
        WHERE
        1=1
        <if test="id != null and id != ''">
            <bind name="Id" value="'%'+ id + '%'"/>
            AND a.id like #{Id}
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!--新增供应商数据-->
    <insert id="getSupplierManagement" parameterType="com.property.entity.Wyspacemanagement">
        INSERT INTO wy_spacemanagement (
            id,
            suppliername,
            code,
            contacts,
            contactperson)
        VALUES
        ( #{id}, #{suppliername}, #{code}, #{contacts}, #{contactperson})
  </insert>

    <!--   空间管理-->
    <!--获取空间总数-->
    <select id="getTotalSize" resultType="java.lang.Integer">
        select count(a.id)
        from wy_space a
        left join (select * from wy_corporate) b
        on a.corporatid = b.id
        where a.del_flag = '0' and b.id is not null
        <if test="corporatid != null and corporatid != ''">
            and a.corporatid = #{corporatid}
        </if>
        <if test="name != null and name != ''">
            and a.spacename = #{name}
        </if>
    </select>

    <!--    获取空间信息-->
    <select id="getSpace" resultType="java.util.Map">
        select a.id,a.spacename,a.builtarea,a.greeningratio,a.detailedaddress,a.description,a.enclosure,b.corporatename
        from wy_space a
        left join (select * from wy_corporate) b
        on a.corporatid = b.id
        where a.del_flag = '0' and b.id is not null
        <if test="corporatid != null and corporatid != ''">
            and a.corporatid = #{corporatid}
        </if>
        <if test="name != null and name != ''">
            and a.spacename = #{name}
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!--    空间信息修改-->
    <select id="updateSpaceById" resultType="java.util.Map">
        select spacename,builtarea,greeningratio,detailedaddress,description,enclosure
        from wy_space
        where del_flag = '0' and id = #{id}
    </select>
    <update id="updateSpace" parameterType="com.property.entity.Wyspace">
        update wy_space
        <set>
            <if test="spacename != null and spacename != '' ">
                spacename = #{spacename},
            </if>
            <if test="builtarea != null and builtarea != '' ">
                builtarea = #{builtarea},
            </if>
            <if test="greeningratio != null and greeningratio != '' ">
                greeningratio = #{greeningratio},
            </if>
            <if test="detailedaddress != null and detailedaddress != '' ">
                detailedaddress = #{detailedaddress},
            </if>
            <if test="description != null and description != '' ">
                description = #{description},
            </if>
            <if test="enclosure != null and enclosure != '' ">
                enclosure = #{enclosure},
            </if>
            <if test="corporatid != null and corporatid != '' ">
                corporatid = #{corporatid},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--    空间信息删除-->
    <update id="deleteSpace">
        update wy_space
        set del_flag = 1
        where id = #{id}
    </update>

    <!--    空间信息增加-->
    <insert id="insertSpace" parameterType="com.property.entity.Wyspace">
        insert into wy_space(spacename,builtarea,greeningratio,detailedaddress,description,enclosure,del_flag,corporatid)
        values (#{spacename},#{builtarea},#{greeningratio},#{detailedaddress},#{description},#{enclosure},0,#{corporatid})
    </insert>

    <!--    附件查看-->
    <select id="getSpaceFile" resultType="String">
        select enclosure from wy_space where id = #{id}
    </select>
</mapper>