<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raysdata.riskmanagementserver.dao.RiskIndusRiskWarnDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.raysdata.riskmanagementserver.bean.SrpRiskEventewarning">
<!--        <result column="id" property="id" />-->
<!--        <result column="model_table_name" property="modelTableName" />-->
<!--        <result column="model_table" property="modelTable" />-->
<!--        <result column="model_field" property="modelField" />-->
<!--        <result column="model_field_name" property="modelFieldName" />-->
<!--        <result column="model_field_hump" property="modelFieldHump" />-->
<!--        <result column="model_table_hump" property="modelTableHump" />-->
<!--        <result column="is_valid" property="isValid" />-->
    </resultMap>
    <sql id="sql_where">
        <choose>
            <when test="srpRiskSysTabVoBo.startTime != null and srpRiskSysTabVoBo.startTime != '' and  srpRiskSysTabVoBo.endTime != null and srpRiskSysTabVoBo.endTime != '' ">
                a.WARNBEGINTIME between STR_TO_DATE(#{srpRiskSysTabVoBo.startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{srpRiskSysTabVoBo.endTime},'%Y-%m-%d %H:%i:%s')
            </when>
            <otherwise>
                to_days( a.WARNBEGINTIME ) = to_days( now( ) )
            </otherwise>
        </choose>
        <if test="srpRiskSysTabVoBo.industryType!=null and srpRiskSysTabVoBo.industryType !=''">
            AND INDUSTRY_TYPE = #{srpRiskSysTabVoBo.industryType}
        </if>
    </sql>
    <sql id="sql_page_where">
        <if test="srpRiskIndusriskWarnnoticeVo.startTime != null and srpRiskIndusriskWarnnoticeVo.startTime != '' and  srpRiskIndusriskWarnnoticeVo.endTime != null and srpRiskIndusriskWarnnoticeVo.endTime != '' ">
            and selw.WARNBEGINTIME BETWEEN STR_TO_DATE(#{srpRiskIndusriskWarnnoticeVo.startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{srpRiskIndusriskWarnnoticeVo.endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="srpRiskIndusriskWarnnoticeVo.title != null and srpRiskIndusriskWarnnoticeVo.title != ''">
            and selw.TITLE like  CONCAT('%', #{srpRiskIndusriskWarnnoticeVo.title}, '%')
        </if>
        <if test="srpRiskIndusriskWarnnoticeVo.warningLevel != null and srpRiskIndusriskWarnnoticeVo.warningLevel != '' ">
            and selw.WARNINGLEVEL = #{srpRiskIndusriskWarnnoticeVo.warningLevel}
        </if>
        <if test="srpRiskIndusriskWarnnoticeVo.warnStatus != null and srpRiskIndusriskWarnnoticeVo.warnStatus != '' ">
            and selw.WARNSTATUS = #{srpRiskIndusriskWarnnoticeVo.warnStatus}
        </if>
        <if test="srpRiskIndusriskWarnnoticeVo.warnNum != null and srpRiskIndusriskWarnnoticeVo.warnNum != '' ">
            and selw.WARNNUM like CONCAT('%', #{srpRiskIndusriskWarnnoticeVo.warnNum}, '%')
        </if>
        <if test="srpRiskIndusriskWarnnoticeVo.publishOrg != null and srpRiskIndusriskWarnnoticeVo.publishOrg != '' ">
             and selw.PUBLISH_ORG like CONCAT('%', #{srpRiskIndusriskWarnnoticeVo.publishOrg}, '%')
        </if>
    </sql>

    <select id="getSrpriskindusriskwarnareacnt"  resultType="java.util.Map">
        SELECT
            srst.column_type_name DATAREPORT_ORG,
            srst.column_type_code DATAREPORT_ORG_ID,
            count( srg.INDUSRISKNOTICE_ID ) AS GRIDWARN_CNT
        FROM
            srp_risk_sys_tab srst
                LEFT JOIN ( SELECT a.*  FROM SRP_RISK_INDUSRISKWARNNOTICE a, SRP_RISK_DKYCOMPANY b
                            WHERE <include refid="sql_where"/> and a.PUBLISH_ORG_ID = b.ENTERPRISE_NUM   ) srg ON  srst.column_type_code = srg.DATAREPORT_ORG_ID
        WHERE
            srst.column_code = 'DATAREPORT_ORG'
        GROUP BY
            srst.column_type_name
        ORDER BY
            srst.column_type_code + 0
    </select>

    <select id="getSrpriskdkycompanycnt"  resultType="java.util.Map">
        SELECT
            COUNT( 1 ) COMPANY_CNT,
            COUNT( DISTINCT PROVINCIAL_COMPANY ) PROVINCIAL_COMPANY_CNT,
            COUNT( CASE WHEN INDUSTRY_TYPE = '02' THEN 1 ELSE NULL END ) AS INDUSTRY_SL,
            COUNT( CASE WHEN INDUSTRY_TYPE = '03' THEN 1 ELSE NULL END ) AS INDUSTRY_XS,
            COUNT( CASE WHEN INDUSTRY_TYPE = '06' THEN 1 ELSE NULL END ) AS INDUSTRY_FL,
            COUNT( CASE WHEN INDUSTRY_TYPE = '07' THEN 1 ELSE NULL END ) AS INDUSTRY_TY,
            COUNT( CASE WHEN INDUSTRY_TYPE = '08' THEN 1 ELSE NULL END ) AS INDUSTRY_CN
        FROM
            SRP_RISK_DKYCOMPANY
    </select>
    <select id="getSrpriskdkycompanystaffcnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
                SUM( CONTRACT_NUM + 0 ) + SUM( DISPATCHEDPERSONNEL_NUM + 0 ) + SUM( OUTSOURCING_LABOR_SERVICES + 0 ) AS STAFF_CNT,
                SUM( CONTRACT_NUM + 0 ) AS CONTRACT_CNT,
                SUM( DISPATCHEDPERSONNEL_NUM + 0 ) AS DISPATCHEDPERSONNEL_CNT,
                SUM( OUTSOURCING_LABOR_SERVICES + 0 ) AS OUTSOURCING_LABOR_SERVICES_CNT,
                SUM( SECUR_GUARD_NUM + 0 ) AS SECUR_GUARD_CNT
        FROM
            SRP_RISK_DKYCOMPANY
    </select>
    <select id="getRiskindusriskwarncnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( 1 ) WARNINGLEVEL_CNT,
            COUNT( CASE WHEN WARNINGLEVEL = '01' THEN 1 ELSE NULL END ) AS WARNINGLEVEL1,
            COUNT( CASE WHEN WARNINGLEVEL = '02' THEN 1 ELSE NULL END ) AS WARNINGLEVEL2,
            COUNT( CASE WHEN WARNINGLEVEL = '03' THEN 1 ELSE NULL END ) AS WARNINGLEVEL3
        FROM
            SRP_RISK_INDUSRISKWARNNOTICE
        WHERE
            DATE_FORMAT( WARNBEGINTIME, '%Y%m' ) = DATE_FORMAT( CURDATE( ), '%Y%m' )
    </select>
    <select id="getSrpriskreservoirstationinfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            COUNT( 1 ) RESERVOI_CNT,
            COUNT( CASE WHEN RESER_SIZE >= 100000000 THEN 1 ELSE NULL END ) AS RESERVOI_SUM
        FROM
            SRP_RISK_RESERVOIR
    </select>
    <select id="getSrpriskdaminforstationinfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            COUNT( 1 ) RESERVOI_CNT,
            COUNT( CASE WHEN WHETHER_TO_PASS = '01' THEN 1 ELSE NULL END ) AS WHETHER_TO_PASS_CNT
        FROM
            SRP_RISK_DAMINFOR


    </select>
    <select id="getSrpriskhydropowerstationinfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            COUNT(1) HYDROPOWERSTATION_CNT,
            SUM(INSTALLRD_CAPACITY) INSTALLRD_CAPACITY_SUM
        FROM SRP_RISK_HYDROPOWERSTATION
    </select>
    <select id="getRiskhydropowerstationinfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            SUM( CAVERN_MILEAGE ) INSTALLRD_CAPACITY_SUM,
            SUM( EARTHWORK_VOLUME ) CAVERN_MILEAGE_SUM,
            SUM( EXPLOSIVES_REQUIRED ) EARTHWORK_VOLUME_SUM
        FROM
            SRP_RISK_HYDROPOWERSTATION
    </select>
    <select id="getRiskbiologicalmaterinfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            COUNT( 1 ) BIOLOGICALMATER_CNT,
            SUM( STORAGE_NUM ) STORAGE_NUM
        FROM
            SRP_RISK_BIOLOGICALMATER
    </select>
    <select id="getSrpriskindusriskwarnlistcnt" resultType="java.lang.Integer">
        SELECT
            count( 1 ) CNT
        FROM
            SRP_RISK_INDUSRISKWARNNOTICE selw
        WHERE
            1 = 1
        <include refid="sql_page_where"/>
    </select>
    <select id="getSrpriskindusriskwarnlist"  resultType="java.util.Map">
        SELECT
            selw.INDUSRISKNOTICE_ID,
            selw.WARNNUM,
            selw.TITLE,
            selc.column_type_name AS WARNINGLEVEL,
            selw.WARNBEGINTIME,
            selw.PUBLISH_ORG,
            srst.column_type_name AS WARNSTATUS
        FROM
            SRP_RISK_INDUSRISKWARNNOTICE selw
                LEFT JOIN ( SELECT column_type_code, column_type_name FROM srp_risk_sys_tab WHERE column_code = 'INDUSRISKWARNLEVEL' ) selc ON selw.WARNINGLEVEL = selc.column_type_code
                LEFT JOIN ( SELECT column_type_code, column_type_name FROM srp_risk_sys_tab WHERE column_code = 'WARNSTATUS' ) srst ON selw.WARNSTATUS = srst.column_type_code
        WHERE
            1 = 1
          <include refid="sql_page_where"/>
            LIMIT  #{srpRiskIndusriskWarnnoticeVo.offset} , #{srpRiskIndusriskWarnnoticeVo.size}
    </select>
</mapper>
