<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raysdata.riskmanagementserver.dao.RiskManagementDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.raysdata.riskmanagementserver.bean.SrpRiskEventewarning">
<!--        <result column="id" property="id" />-->
<!--        <result column="model_table_name" property="modelTableName" />-->
<!--        <result column="model_table" property="modelTable" />-->
<!--        <result column="model_field" property="modelField" />-->
<!--        <result column="model_field_name" property="modelFieldName" />-->
<!--        <result column="model_field_hump" property="modelFieldHump" />-->
<!--        <result column="model_table_hump" property="modelTableHump" />-->
<!--        <result column="is_valid" property="isValid" />-->
    </resultMap>

    <sql id="sql_where">
        <choose>
            <when test="srpRiskVisualizationVo.warnType==1">
                <if test="srpRiskVisualizationVo.typeGridStructure!=null and srpRiskVisualizationVo.typeGridStructure !=''">
                    and TYPE_GRID_STRUCTURE =#{srpRiskVisualizationVo.typeGridStructure}
                </if>
                <if test="srpRiskVisualizationVo.warnLevel!=null and srpRiskVisualizationVo.warnLevel !=''">
                    and WARNINGLEVEL =#{srpRiskVisualizationVo.warnLevel}
                </if>
            </when>
            <otherwise>
                <if test="srpRiskVisualizationVo.warnLevel!=null and srpRiskVisualizationVo.warnLevel !=''">
                    and WARNINGLEVEL =#{srpRiskVisualizationVo.warnLevel}
                </if>
            </otherwise>
        </choose>
    </sql>

    <select id="getSrpriskgridwarncnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( 1 ) GRIDWARN_CNT
        FROM
            srp_risk_gridwarnnotice
        WHERE
            WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
          AND WARNINGLEVEL != '09'
    </select>

        <select id="getSrpriskgridconstwarncnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( 1 ) GRIDCONSTWARN_CNT
        FROM
            ( SELECT * FROM SRP_RISK_GRIDCONSTWARNNOTICE WHERE WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')) a
        WHERE
            a.WARNINGLEVEL = '01'
           OR a.WARNINGLEVEL = '02'
           OR a.WARNINGLEVEL = '03'
           OR a.WARNINGLEVEL = '04'
           OR a.WARNINGLEVEL = '05'
           OR a.WARNINGLEVEL = '06'
    </select>
    <select id="getSrpriskindusriskwarncnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( 1 ) INDUSRISKWARN_CNT
        FROM
            SRP_RISK_INDUSRISKWARNNOTICE
        WHERE
            WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
    </select>
    <select id="getSrpriskeventwarningcnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( 1 ) EVENTEWARNING_CNT
        FROM
            SRP_RISK_EVENTEWARNING
        WHERE
            DATE_FORMAT(WARNBEGINTIME,'%y-%m') = DATE_FORMAT(now( ),'%y-%m')
          AND WARNINGLEVEL != '06'
    </select>
    <select id="getSrpworkplanvoltagelevelcnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count(
                    CASE

                        WHEN VOLTAGE_LEVEL IN ( '06', '07', '08', '09', '10', '11', '12', '13' ) THEN
                            1 ELSE NULL
                        END
                ) LEVEL110,
            count( CASE WHEN VOLTAGE_LEVEL IN ( '04', '05' ) THEN 1 ELSE NULL END ) LEVEL220,
            count( CASE WHEN VOLTAGE_LEVEL IN ( '01', '02', '03', '14', '15', '16', '17' ) THEN 1 ELSE NULL END ) LEVEL500
        FROM
            SRP_WORK_WORKPLANDAYS
        WHERE
            to_days( BEGIN_TIME ) = to_days( now( ) )
    </select>

    <select id="getSrpriskgridwarnlevelcnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( CASE WHEN WARNINGLEVEL IN ( '01', '02', '03', '04' ) THEN 1 ELSE NULL END ) LEVEL4,
            count( CASE WHEN WARNINGLEVEL = '05' THEN 1 ELSE NULL END ) LEVEL5,
            count( CASE WHEN WARNINGLEVEL = '06' THEN 1 ELSE NULL END ) LEVEL6,
            count( CASE WHEN WARNINGLEVEL = '07' THEN 1 ELSE NULL END ) LEVEL7,
            count( CASE WHEN WARNINGLEVEL = '08' THEN 1 ELSE NULL END ) LEVEL8
        FROM
            srp_risk_gridwarnnotice
        WHERE
            WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
    </select>
    <select id="getSrpriskgridconstwarnlevelcnt" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count( CASE WHEN WARNINGLEVEL = '01' THEN 1 ELSE NULL END ) LEVEL1,
            count( CASE WHEN WARNINGLEVEL = '02' THEN 1 ELSE NULL END ) LEVEL2,
            count( CASE WHEN WARNINGLEVEL = '03' THEN 1 ELSE NULL END ) LEVEL3,
            count( CASE WHEN WARNINGLEVEL = '04' THEN 1 ELSE NULL END ) LEVEL4
        FROM
            SRP_RISK_GRIDCONSTWARNNOTICE
        WHERE
            DATE_FORMAT(WARNBEGINTIME,'%y-%m') = DATE_FORMAT(now( ),'%y-%m')
    </select>
    <select id="getSrpriskindusriskwarnlevelcnt"  resultType="java.util.Map">
        SELECT
            count( CASE WHEN WARNINGLEVEL = '01' THEN 1 ELSE NULL END ) LEVEL1,
            count( CASE WHEN WARNINGLEVEL = '02' THEN 1 ELSE NULL END ) LEVEL2,
            count( CASE WHEN WARNINGLEVEL = '03' THEN 1 ELSE NULL END ) LEVEL3
        FROM
            SRP_RISK_INDUSRISKWARNNOTICE
        WHERE
            WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
    </select>
    <select id="getSrpriskeventwarninglevelcnt"  resultType="java.util.Map">
        SELECT
            count( CASE WHEN WARNINGLEVEL = '01' THEN 1 ELSE NULL END ) LEVEL1,
            count( CASE WHEN WARNINGLEVEL = '02' THEN 1 ELSE NULL END ) LEVEL2,
            count( CASE WHEN WARNINGLEVEL = '03' THEN 1 ELSE NULL END ) LEVEL3,
            count( CASE WHEN WARNINGLEVEL = '04' THEN 1 ELSE NULL END ) LEVEL4,
            count( CASE WHEN WARNINGLEVEL = '05' THEN 1 ELSE NULL END ) LEVEL5
        FROM
            SRP_RISK_EVENTEWARNING
        WHERE
            WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
    </select>

    <select id="getSrpriskeventwarningareacnt"  resultType="java.util.Map">
        SELECT
            a.column_code,
            count( b.INDUSRISKNOTICE_ID ) CNT,
            a.column_type_name DATAREPORT_ORG,
            a.column_type_code DATAREPORT_ORG_ID
        FROM
                ( SELECT column_code,column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) a
                    LEFT JOIN ( SELECT INDUSRISKNOTICE_ID,DATAREPORT_ORG_ID FROM SRP_RISK_EVENTEWARNING WHERE  WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')  AND WARNINGLEVEL != '06' <include
            refid="sql_where"/>) b ON a.column_type_code = b.DATAREPORT_ORG_ID
        GROUP BY
            a.column_type_name,
            a.column_type_code
        ORDER BY
            a.column_type_code +0
    </select>

    <select id="getSrpriskindusriskwarnareacnt"  resultType="java.util.Map">
        SELECT
            b.WARNBEGINTIME,
            a.column_type_name DATAREPORT_ORG,
            a.column_type_code DATAREPORT_ORG_ID,
            count( b.INDUSRISKNOTICE_ID ) CNT
        FROM
                ( SELECT column_type_name,column_type_code  FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) a
                    LEFT JOIN ( SELECT WARNBEGINTIME,INDUSRISKNOTICE_ID,DATAREPORT_ORG_ID FROM SRP_RISK_INDUSRISKWARNNOTICE WHERE WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')  <include refid="sql_where"/>) b ON a.column_type_code = b.DATAREPORT_ORG_ID
        GROUP BY
            a.column_type_name,
            a.column_type_code
        ORDER BY
            a.column_type_code +0
    </select>


    <!--电网建设风险-->
    <select id="getSrpriskgridconstwarnareacnt"  resultType="java.util.Map">
        SELECT
            count( b.GRIDCONSTWARNNOTICE_ID ) CNT,
            a.column_type_name DATAREPORT_ORG,
            a.column_type_code DATAREPORT_ORG_ID
        FROM
                ( SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) a
                    LEFT JOIN ( SELECT WARNBEGINTIME,WARNINGLEVEL,DATAREPORT_ORG_ID,GRIDCONSTWARNNOTICE_ID FROM SRP_RISK_GRIDCONSTWARNNOTICE WHERE WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')  AND WARNINGLEVEL != '07' <include
            refid="sql_where"/> ) b ON a.column_type_code = b.DATAREPORT_ORG_ID
        GROUP BY
            a.column_type_name,
            a.column_type_code
        ORDER BY
            a.column_type_code +0
    </select>




    <select id="getSrpriskgridwarnareacnt"  resultType="java.util.Map">
        SELECT
            count( b.GRIDWARNNOTICE_ID ) CNT,
            a.column_type_name DATAREPORT_ORG,
            a.column_type_code DATAREPORT_ORG_ID
        FROM
                ( SELECT column_type_name,column_type_code FROM srp_risk_sys_tab WHERE column_code = 'DATAREPORT_ORG' ) a
                    LEFT JOIN (
                SELECT
                    DATAREPORT_ORG_ID,
                    GRIDWARNNOTICE_ID
                FROM
                    srp_risk_gridwarnnotice
                WHERE
                    WARNBEGINTIME like CONCAT('%', DATE(CURDATE()),'%')
                  AND WARNINGLEVEL != '09'
	                <include refid="sql_where"/>
            ) b ON a.column_type_code = b.DATAREPORT_ORG_ID
        GROUP BY
            a.column_type_name,
            a.column_type_code
        ORDER BY
            a.column_type_code +0
    </select>

</mapper>
