<div class="cube accordion panel" data-bind="style:{width:width(),marginBottom:marginBottom()}">
    <div class="accordion-group" >
        <div class="accordion-heading" data-bind="style:{padding:1,background:bgcolor(),height:titleheight()}">
            <span class="accordion-toggle" data-bind="visible:visible,text:title,style:{height:titleheight(),lineHeight:titleheight()}"></span>
	        <div class="custombtns" data-bind="style:{height:titleheight(),lineHeight:titleheight()}">
			<!-- ko foreach: customBtns -->
				<div  data-bind="attr:{'class':'panelBtns btn'}, 
				style:{
				color:typeof(btnColor)!='undefined'?btnColor:null,
				backgroundImage:typeof(backgroundImage)!='undefined'?backgroundImage:null,
				backgroundColor:typeof(backgroundColor)!='undefined'?backgroundColor:null,
				}, 
				visible: typeof(visible)!='undefined'?visible:true, click: $parent.customClick, clickBubble: false">
				<span data-bind="attr:{'class':'icon-'+(typeof(btnIcon)!='undefined'?btnIcon:'default')}"></span>
				<span data-bind="text:text"></span>
				</div>
	        <!-- /ko -->
			</div>
        </div>
        <div class="accordion-body collapse" data-bind="style:{height:height()}">
			<!-- ko if: isOut && content()=="" && templateOptions()!=null && templateOptions().type == "iframe" -->
				<iframe name="iframe_panel" style="width:100%;" frameborder=0 data-bind="style:{height:templateOptions().iframeHeight},attr:{src:templateOptions().name}"></iframe>
			<!-- /ko --> 
			<!-- ko if: templateOptions()==null || templateOptions().type != "iframe" -->
            <div class="accordion-inner">
               <!-- ko if: content()!="" -->
                <div class="panel-content" data-bind="html:content"></div>
                <!-- /ko -->
               <!-- ko if: content()=="" && templateOptions()!=null-->
	               <!-- ko if: isOut -->
						<!-- ko if: templateOptions().type == "ajax" -->
							<div class="panel-content" data-bind="html: ajaxHtml"></div>
						<!-- /ko --> 
					<!-- /ko --> 
					<!-- ko ifnot: isOut -->
					 <div class="panel-content" data-bind="component: templateOptions"></div>
					<!-- /ko -->
                <!-- /ko -->
            </div>
			<!-- /ko --> 
        </div>
    </div>
</div>